@font-face {
  font-family: 'source sans pro regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts/bat/SourceSansPro-Regular.woff') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'source sans pro semibold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../../fonts/bat/SourceSansPro-SemiBold.woff') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'source sans pro bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../fonts/bat/SourceSansPro-Bold.woff') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'source sans pro regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts/bat/NotoSansArabic-Regular.ttf') format('truetype');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-089F, U+08A0-08FF;
}

@font-face {
  font-family: 'source sans pro semibold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../../fonts/bat/NotoSansArabic-SemiBold.ttf') format('truetype');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-089F, U+08A0-08FF;
}

@font-face {
  font-family: 'source sans pro bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../fonts/bat/NotoSansArabic-Bold.ttf') format('truetype');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-089F, U+08A0-08FF;
}

@font-face {
  font-family: 'aura regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts/bat/Poppins-Regular.ttf') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'aura bold';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts/bat/Poppins-Bold.ttf') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'aura regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts/bat/Almarai-Regular.ttf') format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-089F, U+08A0-08FF;
}

@font-face {
  font-family: 'aura bold';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts/bat/Almarai-Bold.ttf') format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-089F, U+08A0-08FF;
}



