.loading-spinner {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* alo specific code goes here */

/* Always keep .alo scope for brand specific override 
Example:
.alo h2 {
  color: var(--color-token);
}
*/
