
.commerce-forgot-password-container .default-content-wrapper h2 {
  margin-top: 0;
}

.commerce-forgot-password-container .default-content-wrapper p {
  font: var(--type-details-4-font);
  color: var(--color-text-dark);
  padding-bottom: var(--space-space-16);
  padding-top: var(--space-space-8);
  margin: 0;
  text-align: center;
}

.password-container {
  max-width: 50rem;
}

.commerce-forgot-password-container form button {
  width: 100%;
}

.commerce-forgot-password-container form {
  display: flex;
  flex-direction: column;
  gap: var(--space-space-24);
}

@media(width >= 768px) {
  .commerce-forgot-password-container .default-content-wrapper p {
    text-align: start;
  }
}

.foo .commerce-forgot-password-container .default-content-wrapper h2 {
  margin-top: var(--space-space-0x);
  border: none;
}

.foo .commerce-forgot-password-container .default-content-wrapper p {
  font: var(--type-details-4-font);
  color: var(--color-text-dark);
  padding-bottom: var(--space-space-16);
  padding-top: var(--space-space-8);
  margin: var(--space-space-0x);
  text-align: center;
}

.foo .password-container {
  max-width: var(--space-space-500);
}

.foo .commerce-forgot-password-container form button {
  width: 100%;
}

.foo .commerce-forgot-password-container form {
  display: flex;
  flex-direction: column;
  gap: var(--space-space-0x);
}

@media (width >= 768px) {
  .foo .commerce-forgot-password-container .default-content-wrapper p {
    text-align: start;
  }
}

/* foo specific code goes here */

.foo.user main .section.commerce-forgot-password-container {
  width: var(--grid-col-4);
  margin: var(--space-space-0x) auto;
  padding: var(--space-space-16);
  padding-top: var(--space-space-26);
  border: var(--shape-border-width-16) solid var(--color-neutral-200);
  margin-top: var(--spacing-big);
}

.foo .input-field-wrapper {
  margin-bottom: var(--space-space-16);
}

.foo .default-content-wrapper {
  padding-bottom: var(--space-space-12);
}

.foo .commerce-forgot-password .input-field-wrapper {
  margin-bottom: var(--space-space-16);
  margin-top: var(--space-space-16);
}

.foo.user .main-wrapper p {
  color: inherit;
  text-align: start;
}

.foo .input-field-wrapper:not(.notransistion) label {
  color: var(--color-text-dark);
}

@media (width >= 768px) {
  .foo.user .main-wrapper p {
    margin-bottom: var(--space-space-0x);
  }
}

.foo.user .default-content-wrapper h5 {
  margin: 0 0 var(--space-space-24);
  font: var(--type-details-semibold-6-font);
}

.foo.user .default-content-wrapper {
  border-bottom: var(--shape-border-width-2) solid var(--color-neutral-20);
}

.foo.user .main-wrapper .default-content-wrapper {
  text-align: start;
}

.foo .commerce-forgot-password-container .default-content-wrapper h5::before {
  content: " ";
  display: inline-block;
  height: var(--space-space-25);
  width: var(--space-space-25);
  background: url("/icons/black-arrow-left.svg") no-repeat;
  background-size: contain; /* Ensures the icon fits properly */
  cursor: pointer;
  margin-right: var(--space-space-6);
  vertical-align: middle; /* Aligns the icon vertically with the text */
}

html[dir="rtl"]
  .foo
  .commerce-forgot-password-container
  .default-content-wrapper
  h2::before {
  content: "";
  display: inline-block;
  height: var(--space-space-25);
  width: var(--space-space-25);
  background: url("/icons/arrow-right-black.svg") no-repeat;
  background-size: contain; /* Ensures the icon fits properly */
  cursor: pointer;
  margin-left: var(--space-space-6);
  margin-right: var(--space-space-0x);
  vertical-align: middle; /* Aligns the icon vertically with the text */
}

.foo .commerce-forgot-password-container.hidden {
  display: none;
}

.foo .commerce-forgot-password-container.visible {
  display: block;
}

/* Always keep .foo scope for brand specific override 
Example:
.foo h2 {
  color: var(--color-token);
}
*/
