@import '../carousel.css';

/* bat specific code goes here */

/* Always keep .bat scope for brand specific override
Example:
.bat h2 {
  color: var(--color-token);
}
*/
.bat .carousel .carousel-item a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--space-space-4);
  color: var(--color-tertiary-c);
  font: var(--type-body-3-default-font);
}

.bat .carousel.inline {
  height: var(--sf-height-48);
}

.bat .carousel-wrapper.inline .carousel-nav-button.carousel-nav-left {
  left: -0.8rem;
}

.bat .section.carousel-container {
  background: var(--color-primary-c);
  height: var(--sf-height-48);
}

.bat .carousel-wrapper.inline .carousel-nav-button.carousel-nav-right {
  right: -0.8rem;
}

.bat .hp-usp .carousel-nav-button {
  display: block;
}

.bat .hp-usp.carousel-wrapper.inline .carousel-nav-button {
  top: 30%;
  background-color: transparent;
  border: none;
}

.bat .carousel-wrapper.inline .carousel-nav-button .icon img {
  height: 4.2rem;
  width: var(--sf-width-2);
  position: relative;
  top: -10px;
  display: none;
}

.bat .carousel-item-image {
  text-wrap: nowrap;
}

.bat .icon-chevron-right {
  background-color: var(--color-tertiary-c);
  mask: url("/icons/chevron-right.svg") no-repeat;
}

.bat .icon-chevron-left {
  background-color: var(--color-tertiary-c);
  mask: url("/icons/chevron-left.svg") no-repeat;
}

.bat .recommendations-container .icon-chevron-right {
  background-color: var(--color-primary-a);
  mask-size: 50%;
  mask-position: var(--space-space-1x-2) var(--space-space-1x-2);
}

.bat .recommendations-container .icon-chevron-left {
  background-color: var(--color-primary-a);
  mask-size: 50%;
  mask-position: var(--space-space-1x-2) var(--space-space-1x-2);
}

html[dir='rtl'] .bat .recommendations-container .icon-chevron-right {
  mask-position: var(--space-space-10) var(--space-space-1x-2);
}

html[dir='rtl'] .bat .recommendations-container .icon-chevron-left {
  mask-position: var(--space-space-2x-1) var(--space-space-1x-2);
}

.bat .icon-free-delivery,
.bat .icon-devices,
.bat .icon-cash {
  height: var(--sf-height-2-4);
  width: var(--sf-width-2-4);
}

.bat .recommendations-container .carousel.cards .carousel-item {
  width: 46%;
  max-width: unset;
  padding: 0;
}

.bat .recommendations-container .carousel.cards {
  gap: var(--space-space-8);
  padding: var(--space-space-16) 0 0;
}

.bat.search .recommendations-container .carousel.cards {
  gap: var(--space-space-8);
  padding: var(--space-space-16) 0 var(--space-space-32);
}

.bat .recommendations-container .carousel .carousel-item a {
  flex: unset;
}

.bat .recommendations-container .carousel.cards .carousel-item p:nth-child(1){
  padding-top: 0;
}

.bat .recommendations-container .carousel.cards .carousel-item p:nth-child(2) {
  padding-top: 0;
  font: var(--type-details-3-font);
}

html[dir='rtl'] .bat .recommendations-container .carousel.cards .carousel-item p:nth-child(1) {
  padding-top: unset;
  margin-right: 0;
  margin-left: var(--space-space-2);
}

.bat .recommendations-container .carousel-wrapper.cards .carousel-nav-button:not(.disabled) {
  top: -3.6rem;
  right: 0;
  position: absolute;
  border-radius: 50%;
  border: 1px solid var(--color-neutral-480);
  width: 3.2rem;
  height: 3.2rem;
}

.bat .recommendations-container > .carousel-wrapper.cards .carousel-nav-button:not(.disabled) {
  display:block;
}

.bat .recommendations-container .carousel-wrapper.cards .carousel-nav-button:not(.disabled):hover {
  background: none;
}

.bat .recommendations-container .carousel-wrapper.cards .carousel-nav-button.carousel-nav-left:not(.disabled) {
  left: auto;
  right: var(--space-space-48);
}

.bat .recommendations-container .carousel-wrapper.cards .carousel-nav-button.carousel-nav-right:not(.disabled) {
  right: var(--space-space-12);
}

html[dir='rtl'] .bat .recommendations-container .carousel-wrapper.cards .carousel-nav-button.carousel-nav-right:not(.disabled) {
  right: auto;
  left: var(--space-space-48);
}

html[dir='rtl'] .bat .recommendations-container .carousel-wrapper.cards .carousel-nav-button.carousel-nav-left:not(.disabled) {
  right: unset;
  left: var(--space-space-12);
}

.bat .carousel.cards .carousel-item .card .product-image-container > a > .item-images > img {
  width: auto;
  height: 100%;
}

.bat .recommendations.carousel.cards .carousel-item .card .product-image-container {
  max-height: var(--embed-width-3-5);
}

@Media (width >= 768px) {
  .bat .hp-usp .carousel-nav-button {
    display: none;
  }

  .bat .recommendations-container .carousel-wrapper.cards .carousel-nav-button.carousel-nav-left:not(.disabled) {
    right: var(--space-space-36);
  }

  .bat .recommendations-container .carousel-wrapper.cards .carousel-nav-button.carousel-nav-right:not(.disabled) {
    right: 0;
  }

  html[dir='rtl'] .bat .recommendations-container .carousel-wrapper.cards .carousel-nav-button.carousel-nav-left:not(.disabled) {
    left: 0;
  }

  html[dir='rtl'] .bat .recommendations-container .carousel-wrapper.cards .carousel-nav-button.carousel-nav-right:not(.disabled) {
    left: var(--space-space-38)
  }
}

@media (width >= 1024px) {
  .bat .recommendations-container .carousel.cards {
    gap: var(--space-space-32);
    padding: var(--space-space-16) 0 0;
  }

  .bat.search .recommendations-container .carousel.cards {
    gap: var(--space-space-32);
    padding: var(--space-space-16) 0;
  }

  .bat .recommendations-container .carousel-wrapper.cards .carousel-item {
    width: 14.6%;
    max-width: unset;
  }
}

