.blackoffer-banner-wrapper {
  margin: 15px 0 20px 0 !important;
  padding-top: 0 !important;
}

.blackoffer-banner {
  background-color: var(--color-neutral-black);
  color: var(--color-neutral-50);
  text-align: center;
  padding: var(--space-space-16) var(--space-space-4x);
  font-family: "Victoria Two";
}

.blackoffer-banner h1 {
  font-size: var(--font-size-10);
  margin: var(--space-space-4x) 0;
}

.blackoffer-banner h2 {
  font-size: 26px;
  line-height: var(--line-height-m);
  margin: var(--space-space-4x) 0;
  letter-spacing: 4px;
}

.blackoffer-banner p {
  font-size: var(--font-size-6);
  margin: var(--space-space-4x) 0;
  letter-spacing: 2px;
  font-weight: 400;
}

.blackoffer-banner .shoplink {
    text-align: center;
    font-family: var(--font-family-body, "Victoria Two");
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    margin-top: 10px !important;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.blackoffer-banner a.shoplink {
  color: white;
}

.blackoffer-banner-wrapper {
  cursor: pointer;
}

@media (max-width: 767px) {
  .blackoffer-banner {
    padding: var(--space-space-8) var(--space-space-2x);
  }
  .blackoffer-banner h1 {
    font-size: var(--font-size-8);
  }
  .blackoffer-banner h2 {
    font-size: var(--font-size-6);
  }
  .blackoffer-banner p {
    font-size: var(--font-size-4);
  }
  .blackoffer-banner .shoplink {
    font-size: var(--font-size-3);
  }
}
