/* stylelint-disable-line length-zero-no-unit */
.section.commerce-login-container {
    padding-top: var(--space-space-0x);
    padding-bottom: var(--space-space-0x);
}
.login-container .input-wrapper {
    height: 5.4rem;
    position: relative;
}
.commerce-login-container .commerce-login form button {
    margin: 0;
}
.commerce-login-wrapper form {
    display: flex;
    flex-direction: column;
    gap: var(--space-space-16);
}
.commerce-login-container  a.forgot-password {
    font-size: var(--font-size-2);
    line-height: var(--line-height-s);
    text-align: center;
    margin-top: var(--space-space-8);
}
@media(width >=768px) {
    .commerce-login-container.social-login-container {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-top: var(--space-space-32);
    }

    .section.commerce-login-container > .commerce-login-wrapper {
        max-width: 56.5%;
        width: 100%;
        padding-right: 8%;
        margin: 0;
    }

    html[dir='rtl'] .commerce-login-container > .commerce-login-wrapper {
        max-width: 56.5%;
        width: 100%;
        padding-left: 8%;
        padding-right: var(--space-space-0x);
    }

    .commerce-login-container .commerce-login form input, .commerce-login-container .commerce-login form .input-field-wrapper {
        max-width: unset;
    }

    .commerce-login-container .commerce-login form button {
        width: 100%;
        margin-top: var(--space-space-16);
    }

    .commerce-login-container .button-container a {
        width: var(--grid-col-4);
    }

    .commerce-login-wrapper form {
        gap: var(--space-space-24);
    }

    .commerce-login-container  a.forgot-password {
        margin-top: 0;
    }
}
.foo form .exist-signin {
  display: flex;
  flex-direction: column;
  gap: var(--space-space-16);
}
.foo .checkout-flow .commerce-login-wizard-container,
.foo .welcome-flow .commerce-login-wizard-container {
  display: none;
}
.foo .header-flow .commerce-login-wizard-container {
  width: 100%;
  padding: var(--space-space-0x);
}
.foo .header-flow .commerce-login-wizard-container div h5 {
  margin: var(--space-space-0x);
  padding: var(--space-space-16) var(--space-space-0x);
  font: var(--type-details-semibold-6-font);
  color: var(--color-secondary-a);
}
.foo .header-flow .commerce-login-wizard-container div p {
  padding: var(--space-space-12) var(--space-space-0x);
  font-size: var(--font-size-2);
  color: var(--color-text-main);
}
.foo .header-flow .commerce-login-wizard-container div p strong {
  font: var(--type-details-semibold-3-font);
}
.foo .header-flow .commerce-login-wizard-container .login-container .exist-signin {
  gap: var(--space-space-2);
}
.foo .header-flow .commerce-login-wizard-container div ul {
  padding: 0;
  margin: 0 0 var(--space-space-20);
}
.foo .header-flow .commerce-login-wizard-container div ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: var(--space-space-8);
  align-self: stretch;
  font: var(--type-details-semibold-3-font);
  margin: var(--space-space-4) var(--space-space-0x);
  color: var(--color-secondary-b);
  letter-spacing: normal;
}
.foo .header-flow .commerce-login-wizard-container div ul li span {
  width: var(--space-space-20);
  height: var(--space-space-20);
}
.foo .header-flow .commerce-login-wizard .or-label {
  font-size: var(--font-size-2);
  text-align: center;
}
.foo .header-flow .commerce-login-wizard .or-label p {
  font: var(--type-details-semibold-3-font);
  color: var(--color-secondary-b);
}
@media (width>=768px) {
  .foo.login .header-flow .commerce-login-wizard-container {
    padding: var(--space-space-0x);
  }

  .foo .header-flow .commerce-login-wizard-container div h5 {
    padding: var(--space-space-2) 0 var(--space-space-4x);
  }

  .foo .header-flow .commerce-login-wizard-container div p {
    margin: var(--space-space-0x);
  }

  .foo .header-flow .commerce-login-wizard-container div p strong {
    font-size: var(--font-size-3);
  }
}
