.cart__empty {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-space-8);
    background-color: var(--color-neutral-white);
    padding-top: var(--space-space-16);
    padding-bottom: var(--space-space-4);
}

.cart__empty.enable-empty-cart-bag-v2{
    padding: var(--space-space-48) var(--space-space-12);
    gap: var(--space-space-12);
    text-align: center;
}

.cart__empty.enable-empty-cart-bag-v2 .cart-empty__title{
    font: var(--type-details-semibold-7-font);
}

.cart__empty .cart-empty__title {
    font: var(--type-details-semibold-4-font);
    line-height: 140%;
}

.enable-empty-cart-bag-v2 .cart__empty .cart-empty__title{
 font-size: var(--type-details-semibold-7-font);
}

.cart__empty .cart-empty__recomendation-title {
    font: var(--type-details-semibold-6-font);
    line-height: 130%;
}

.cart-container + .recommendations-container + .recommendations-container +.recommendations-container  
+.section +.scroll-to-top {
    display: none;
}

.cart-container-full {
    max-width: 100% !important;
    background-color: var(--color-neutral-white);
    padding: 0 !important;
}


.carousel-empty-cart {
    display: block !important;
    background-color: var(--color-neutral-white);
    padding-bottom: var(--space-space-40);
}

.empty-cart-block {
    justify-content: center !important;
}

.enable-empty-cart-bag-v2 .cart-empty__message{
  color: var(--color-brand-250);
  font: var(--type-details-4-font);
}

.enable-empty-cart-bag-v2 .continue_shopping{
  margin:0;
  margin-top: var(--space-space-12);
}

.enable-empty-cart-bag-v2 .continue_shopping .icon{
    height: var(--sf-height-2-4);
    width: var(--sf-width-2-4);
    margin-inline-start: var(--space-space-8);
}

@media (width >=768px) {
    .cart__empty,
    .carousel-empty-cart {
        max-width: 79.048% !important;
        margin: auto;
    }

    .cart__empty {
        padding-top: var(--space-space-40);
        padding-bottom: var(--space-space-30);
    }

    .cart__empty.enable-empty-cart-bag-v2{
        padding: var(--space-space-48) 0;
        gap: var(--space-space-12);
    }

    .cart__empty.enable-empty-cart-bag-v2 .cart-empty__title {
        font: var(--type-details-semibold-7-font);
        line-height: 132%;
    }

    .cart__empty .cart-empty__recomendation-title {
        font: var(--type-details-semibold-5-font);
        line-height: 132%;
    }
}