.expandable-content {
  position: relative;
}

.expandable-content > div {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.expandable-content.expanded > div {
  max-height: none;
  overflow: inherit;
  display: unset;
}

.expandable-content.expanded::after {
  content: none;
}

.expandable-content p a {
  text-decoration: underline;
}

.expandable-content .read-more {
  display: flex;
  justify-content: center;
}

.expandable-content button {
  box-sizing: border-box;
  text-decoration: underline;
  border:none;
  background: none;
  cursor: pointer;
  color:var(--color-text-main);
  text-align: center;
}

/* bat specific code goes here */

/* Always keep .bat scope for brand specific override 
Example:
.bat h2 {
  color: var(--color-token);
}
*/

.bat .expandable-content {
  padding: var(--space-space-3x) var(--space-space-0x);
}

.bat .expandable-content p {
  font: var(--type-body-1-default-font);
  color: var(--color-text-main);
  padding: var(--space-space-0x) var(--space-space-2x);
  margin: var(--space-space-4x) var(--space-space-0x);
}

.bat .expandable-content h5 {
  color: var(--color-secondary-a);
  font-weight: var(--font-weight-6);
  padding-top: var(--space-space-4x);
  margin-bottom: var(--space-space-0x);
  margin-top: var(--space-space-7x);
}

.expandable-content .read-more {
  justify-content: flex-start;
  padding: var(--space-space-0x) var(--space-space-2x);
}

.expandable-content .read-more button {
  font: var(--type-body-2-default-font);
  color: var(--color-secondary-b);
  text-transform: unset;
  padding: var(--space-space-0x-1) var(--space-space-0x);
  margin: var(--space-space-2x) var(--space-space-0x) var(--space-space-0x) var(--space-space-0x);
  height: auto;
}

.bat .expandable-content .read-more .read-more-button-text:hover {
  background-color: transparent;
  border: none;
}

html[dir='rtl'] .bat .expandable-content p {
  font-weight: var(--font-weight-5);
}

@media (width < 768px) { 
  .bat .expandable-content h5 {
    padding-bottom: var(--space-space-0x);
    margin-top: var(--space-space-8x);
    line-height: var(--line-height-s);
  }

  .bat .expandable-content {
    padding: var(--space-space-4x) var(--space-space-0x) var(--space-space-0x) var(--space-space-0x);
  }

  .bat .expandable-content p {
    font-size: var(--font-size-3);
    margin-top: var(--space-space-4x);
}

.expandable-content .read-more button {
  font-size: var(--font-size-2);
}
}