/* stylelint-disable no-empty-source */

.new-password-container {
    max-width: 50rem;
    padding: var(--space-space-16) 0;
  }

.new-password-container form {
    display: flex;
    flex-direction: column;
    gap: var(--space-space-24);
}

.new-password-container .input-wrapper {
    height: 5.4rem;
    position: relative;
}

.new-password-container form button {
    width: 100%;
}

/* alo specific code goes here */

/* Always keep .alo scope for brand specific override 
Example:
.alo h2 {
  color: var(--color-token);
}
*/
