/* stylelint-disable no-empty-source */

.new-password-container {
    max-width: 50rem;
    padding: var(--space-space-16) 0;
  }

.new-password-container form {
    display: flex;
    flex-direction: column;
    gap: var(--space-space-24);
}

.new-password-container .input-wrapper {
    height: 5.4rem;
    position: relative;
}

.new-password-container form button {
    width: 100%;
}

/* stylelint-disable no-empty-source */

.new-password-container {
  max-width: 50rem;
  padding: var(--space-space-16) 0;
}

.new-password-container form {
  display: flex;
  flex-direction: column;
  gap: var(--space-space-24);
}

.new-password-container .input-wrapper {
  height: var(--space-space-54);
  position: relative;
}

.new-password-container form button {
  width: 100%;
}

/* bat specific code goes here */

.bat .commerce-new-password-container h5 {
  margin: 0 0 var(--space-space-32) 0;
}

.bat.user main .section.commerce-new-password-container {
  width: var(--grid-col-4);
  margin: var(--spacing-big) auto var(--space-space-0x);
  padding: var(--space-space-16) var(--space-space-4x) var(--space-space-4x) var(--space-space-4x);
  border: var(--shape-border-width-16) solid var(--color-neutral-200);
}

.bat .commerce-new-password-container .change-link {
  display: none;
}

.bat .new-password-container form {
  gap: 0;
}

.bat .new-password-container {
  padding: 0;
}

.bat .new-password-container .input-field-wrapper {
  margin-bottom: var(--space-space-16);
}

.bat .new-password-container .input-field-wrapper input{
  border: var(--shape-border-width-1) solid var( --color-neutral-700);
  color: var( --color-neutral-700); 
  opacity: 1;
}

.bat.user .main-wrapper .new-password-container .validationruletext {
  color: var(--color-text-main);
  padding: var(--spacing-xxsmall-2) 0 var(--space-space-2x-2);
}

.bat .commerce-new-password-container form button {
  width: 100%;
}

.bat .commerce-new-password-container.hidden {
  display: none;
}

.bat .commerce-new-password-container.visible {
  display: block;
}

.bat .validation-container {
  padding:0;
}

.bat .new-password-container .validation-container > li {
  display:flex;
  gap:var(--space-space-8);
  list-style-type: circle;
  margin-bottom: var(--space-space-1x);
  color: var(--color-secondary-b);
  font: var(--type-details-3-font);
}

.bat .new-password-container .validation-container li.valid {
  list-style-type: none;
  color: var( --color-text-main);
}

.bat .new-password-container .validation-container > li::marker {
  color: var(--color-secondary-b);
}

.bat .new-password-container .validation-container li.valid::before {
  content: "";
  background: url('/icons/tick-green.svg') no-repeat;
  display: inline-block;
  height: var(--space-space-16);
  width: var(--space-space-16);
  vertical-align: middle;
}

.bat .new-password-container li.invalid::before {
  content: "";
  display: inline-block;
  height: 1.6rem;
  width: 1.6rem;
  background: url('/icons/grey-radio-icon.svg') no-repeat;
  background-size: contain;
  vertical-align: middle;
  color: var(--color-secondary-b);
}

.bat .new-password-container p {
  border-top: var(--shape-border-width-2) solid var(--color-neutral-20);
  font: var(--type-details-3-font);
  padding-top: var(--space-space-2x);
  color: var(--color-text-black);
}

.bat .new-password-container .input-field-wrapper .error-message, .bat .new-password-container .form-errors .error-message {
  font: var(--type-details-3-font);
}

/* Always keep .bat scope for brand specific override 
Example:
.bat h2 {
color: var(--color-token);
}
*/
