<div class="dy-maintenance">
  <div class="dy-maintenance__text">
    <h1 class="dy-maintenance__headline">WE'LL BE BACK SOON</h1>
    <div class="dy-maintenance__preamble">We're carrying out updates to offer you the best shopping experience.</div>
    <div class="dy-maintenance__description">Thanks for your patience</div>
  </div><!-- end text -->
  
  <div class="dy-maintenance__holding-wrapper">
    <picture class="dy-maintenance__image">
      <source media="(min-width: 768px)" srcset="https://cdn-eu.dynamicyield.com/api/9876648/images/260aad41bd010__MicrosoftTeams-image__12_.png">
      <source media="(max-width: 767px)" srcset="https://cdn-eu.dynamicyield.com/api/9876648/images/2c576957928b1__MicrosoftTeams-image__13_.png">
      <img src="https://cdn-eu.dynamicyield.com/api/9876648/images/260aad41bd010__MicrosoftTeams-image__12_.png" alt="">
    </picture><!-- end image box -->
    
    
  
</div><!-- end main wrapper --></div>

<style>
.dy-maintenance__text {
  background: #fff;
  font-family: "Trade Gothic LT Std" ,"DroidArabicKufi_Bold" , sans-serif;;
  color: #000000;
  padding: 40px;
  line-height: 1;
  margin: auto;
}
.dy-maintenance__preamble {
  font-size: 14px;
  font-family:"BBWTradeGothicLTStd", "DroidKufi_Regular", sans-serif;;
  text-align: center;
 margin: 0 0 10px;
}
.dy-maintenance__headline {
  font-size: 54px;
  margin: 15px 0 5px;
  text-align: center;
}
html[lang=ar] .dy-maintenance__headline {
  margin: 5px 0 15px 0;
}
.dy-maintenance__description {
  font-family: "BBWTradeGothicLTStd", "DroidKufi_Regular", sans-serif;;
  font-size: 18px;
  
  text-align: center;
}
html[lang=en] .dy-maintenance__preamble {
  margin: 0 0 5px;
}
.dy-maintenance__holding-wrapper {
  position: relative;
}
.dy-maintenance__form-box {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.dy-maintenance__form-box.possition-start,
html[lang="ar"] .dy-maintenance__form-box.possition-end {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.dy-maintenance__form-box.possition-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.dy-maintenance__form-box.possition-end,
html[lang="ar"] .dy-maintenance__form-box.possition-start {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.dy-maintenance__form {
  background: #fff;
  width: 300px;
  padding: 20px 30px;
  margin: 20px 50px;
}
.dy-maintenance__form-group {
  margin: 20px 0;
}
.form-label {
  display: block;
  font-family: "Trade Gothic LT Std" ,"DroidArabicKufi_Bold" , sans-serif;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 3px;
}
html[lang=en] .form-label {
  letter-spacing: 2px;
}
.dy-maintenance__form-control.text--field {
  width: 100%;
  line-height: 36px;
  font-size: 12px;
  border-radius: 0;
  border: 1px solid #e7e7e7 !important;
  padding: 0 10px !important;
}
.dy-maintenance__form-control.text--field:focus {
  border-color: #000000 !important;
}
.dy-maintenance__form-control.btn--field {
  font-family: "Trade Gothic LT Std" ,"DroidArabicKufi_Bold" , sans-serif;
  font-size: 14px;
  width: 100%;
  background: #eef3fa;
  border: 0;
  padding: 14px 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
html[lang=en] .dy-maintenance__form-control.btn--field {
  letter-spacing: 1px;
}
.dy-maintenance__form-control.btn--field:hover {
  background: #000000;
  color: #fff;
}
.dy-maintenance__image {
  display: block;
  text-align: center;
}
.dy-maintenance__image img{
  width: 100%;
}
@media (max-width: 767px) {
  .dy-maintenance__text {
    padding: 20px;
  }
  .dy-maintenance__preamble {
    font-size: 14px;
    line-height:18px;
  }
  html[lang=en] .dy-maintenance__preamble {
    letter-spacing: 1px;
  }
  .dy-maintenance__headline {
    font-size: 34px;
  }
  .dy-maintenance__description {
    font-size: 15px;
    line-height: 1;
  }
  .dy-maintenance__form-box {
    position: static;
  }
  .dy-maintenance__form {
    width: 100%;
    margin: 0;
    padding: 0 30px;
  }
} 
body {
  margin: 0;
  background: white;
} 
</style>