@import '../added-to-bag.css';

/* bat specific code goes here */

/* Always keep .bat scope for brand specific override 
Example:
.bat h2 {
  color: var(--color-token);
}
*/

.bat .modal dialog.added-to-bag-dialog {
  top: auto;
  max-width: 100%;
  width: 100%;
}

.bat .modal dialog.added-to-bag-dialog .modal-header {
  height: auto;
  box-shadow: 0 0.1rem 0.6rem 0 var(--color-opacity-8);
  border: none;
  padding: var(--space-space-12);
}

.bat .added-to-bag-dialog .modal-footer h4 {
  font: var( --type-details-3-font);
}

.bat .added-to-bag-dialog .product-content h4 {
  margin-bottom: var(--space-space-4);
  font-weight: var(--font-weight-6);
  color: var(--color-text-main);
}

.bat .modal dialog.added-to-bag-dialog .modal-header h4 {
  font: var(--type-details-semibold-6-font);
  text-align: center;
}

.bat .modal dialog.added-to-bag-dialog .modal-header .modal-close,
.bat .modal dialog.added-to-bag-dialog .modal-header .icon-close img {
  width: 2.4rem;
  height: 2.4rem;
}

.bat .modal dialog.added-to-bag-dialog .modal-header .icon-title-left {
  position: unset;
  width: 2.4rem;
  height: 2.4rem;
}

.bat .added-to-bag-dialog .modal-product .product-configs li:first-child {
  font-size: var(--font-size-2);
  line-height: var(--line-height-s);
}

.bat .added-to-bag-dialog .product-content .product-price .promotions span {
  background-color: var(--color-primary-c);
  font: var(--type-details-2-font);
  color: var(--color-primary-100);
  padding: var(--space-space-4);
}

.bat .added-to-bag-dialog .product-content .product-configs li span:first-child {
  color: var(--color-text-light);
}

.bat .added-to-bag-dialog .product-content .product-configs li span:last-child {
  color: var(--color-text-main);
}

.bat .added-to-bag-dialog .modal-buttons {
  border: 0;
  padding: var(--space-space-12) 0;
  margin: 0 var(--space-space-12);
  flex-direction: column-reverse;
}

.bat .added-to-bag-dialog .modal-footer {
  position: sticky;
  bottom: 0;
  padding: var(--space-space-16);
  background-color: var(--color-white);
  border: 0;
  box-shadow: 0 -0.4rem 0.4rem 0 rgba(0 0 0 / 4%);
  height: unset;
  z-index: 2;
}

.bat .added-to-bag-dialog .modal-footer h4 span.boldtext {
  font-weight: var(--font-weight-6);
}

.bat .added-to-bag-dialog .product-content > p {
  margin: 0 0 var(--space-space-12);
  color: var(--color-secondary-a);
  font-size: var(--font-size-3);
  line-height: var(--line-height-s);
}

.bat .added-to-bag-dialog .product-content .product-price {
  margin-bottom: var(--space-space-4);
}

.bat .added-to-bag-dialog .product-content .product-price h4.price-final {
  font: var(--type-details-semibold-5-font);
  margin-bottom: 0;
}

.bat .added-to-bag-dialog .recommendations-container h5{
  font: var(--type-details-semibold-6-font);
  text-align: left;
}

.bat .added-to-bag-dialog .product-content .product-price h5 {
  color: var(--color-secondary-b);
  font-size: var(--font-size-3);
  line-height: var(--line-height-s);
}

.bat .added-to-bag-dialog .modal-product {
  margin: var(--space-space-12);
  gap: var(--space-space-8);
  padding: 0;
}

.bat .added-to-bag-dialog .product-content .product-price .promotions{
  display: flex;
  gap: var(--space-space-8);
}

.bat .added-to-bag-dialog .recommendations-container{
  padding: 0;
}

.bat .added-to-bag-dialog .carousel.cards .carousel-item .card .product-image-container > a > .item-images > img {
  height: 100%;
}

.bat .added-to-bag-dialog .products-container .product-item .product-item-info a {
  overflow: visible;
}

@media (width >=768px) {
  .bat .modal dialog.added-to-bag-dialog {
    top: 0;
    width: var(--grid-col-6);
  }

  .bat .modal dialog.added-to-bag-dialog .modal-header h4 {
    font: var(--type-details-semibold-5-font);
  }

  .bat .added-to-bag-dialog .modal-product {
    position: relative;
    margin: var(--space-space-16);
    gap: var(--space-space-12);
  }

  .bat .added-to-bag-dialog .modal-product .product-configs li:first-child {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: var(--font-size-3);
  }

  html[dir='rtl'] .bat .added-to-bag-dialog .modal-product .product-configs li:first-child {
    left: 0;
    right: unset;
  }

  .bat .added-to-bag-dialog .modal-buttons {
    margin: 0 var(--space-space-16);
    flex-direction: row;
  }
}