<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>H&M Magazine Preschool</title>
  <link rel="stylesheet" href="/fragments/magazine-pages/magazine-style.css">
</head>

<body>
  <div class="hm-magazine-wrap hm-magazine-wrap-dp">
   
<!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
<img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:5db7430b-dc90-497d-bb42-e96d79328732/as/w48-hm-magazine-main-07.jpg?preferwebp=true&width=2000&format=jpg" alt="hm-magazine">
</div>
<!-- col-1 Image section ends here -->
<!-- Text section starts here -->
<div class="hm-magazine-text-hold">
 <p class="hm-magazine-preample">INSIDE H&M</p>
 <h1 class="hm-magazine-h1">Raoúl Alejandre creates new looks with a contemporary spin for H&M Beauty</h1>
 <p class="hm-magazine-description">H&M Beauty continues to reimagine its beauty line, releasing its second campaign within the Make Up Stories concept, focusing on lips, makeup tools and other high-quality products.</p>
 <p class="date-p">22 February 2024</p>
</div>
<!-- Text section ends here -->
<!-- image text block ends  -->

  
<!-- DP Container block starts  -->
<div class="hm-magazine-dp-block-container">
      <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:a3469d61-6f13-43bd-afb0-bf5e873292c4/as/hm-magazine-hm-beauty-1.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->
<!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">H&M Beauty’s Global Makeup Artist, Raoúl Alejandre, is the creative behind all the contemporary looks featured in the campaign and is inspired by the diversity of beauty looks in the '80s. For this campaign, lips do all the talking.</p>
    <p class="hm-magazine-description-dp">The heroes for the second drop from H&M Beauty line’s signature red and pink are the lipsticks in both satin and matte finishes that come in an abundance of shades. The lipsticks are, like the rest of the makeup range, all-vegan, and in addition, also formulated with Hyaluronic Acid.</p>
    <p class="hm-magazine-description-dp"><i>“I love the high-quality pigmentation and rich formulas of this range, and that it is totally affordable and available to everyone. I really love using a variation of three to create a unique lip colour. When trying to create an ombre lip, lip-pencils are a staple.”</i></p>
    <h2 class="hm-magazine-h2 text-right">Raoúl Alejandre, H&M Beauty Global Makeup Artist</h2>
    <p class="hm-magazine-description-dp">The Satin Icon lipstick, in 36 shades, gives the lips an intensely pigmented soft satin finish. The Matte Lippie has a luminous matte finish in 18 shades. Also launching is the liquid lipstick, Mad for Matte and the lipliner, Mark My Lips, to complement the range.</p>
</div>
   <!-- DP Text section ends here -->

    <!-- col-1 Image section starts here -->
    <h2 class="hm-magazine-h2">Behind the looks with Raoúl Alejandre</h2>
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:60d8b23b-41ee-48a9-9187-1b0e1e02e60b/as/hm-magazine-hm-beauty-2.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->
    <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <h2 class="hm-magazine-h2">THE LIPS</h2>
    <p class="hm-magazine-description-dp text-center">Raoúl:<br>
        “What I really love about this lip is that you’re getting high-pigmented colours as well as very rich formulas. They’re very buttery, hyper-pigmented and just glide onto the lip perfectly.”</p>
    <p class="hm-magazine-description-dp text-center">Products: <a href="/en/buy-satin-lipstick-cherry-who.html">Satin Icon Lipstick</a><br>
        Raoúl uses the Powder Puff to protect the makeup.</p>
</div>
   <!-- DP Text section ends here -->
    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:59a6f8d1-063a-43e2-b370-70060cc5facd/as/hm-magazine-hm-beauty-3.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <h2 class="hm-magazine-h2">THE BASE</h2>
    <p class="hm-magazine-description-dp text-center">Raoúl: <br>
        “I feel like using makeup sponges is almost like having an additional finger. It just blends the foundation or the concealer seamlessly.”</p>
        <p class="hm-magazine-description-dp text-center">Products: Cover me up! Concealer matched with one of the range of vegan makeup sponges. </p>
</div>
   <!-- DP Text section ends here -->

       <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:12753440-f8b2-4a3e-8098-2b8edfc65e18/as/hm-magazine-hm-beauty-4.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <h2 class="hm-magazine-h2">THE GLOW</h2>
    <p class="hm-magazine-description-dp text-center">Raoúl:<br>
        “I love using multiple brushes when applying highlighter, and I really love using the tapered highlighter brush to create that maximum opulent glow on the high points of the cheek, the bridge of the nose and the cupid’s bow.”</p>
    <p class="hm-magazine-description-dp text-center">Products: At First Light Highlighter matched with Tapered Cheek Brush F31,  Precision Highlighter Brush F32 and <a href="/en/buy-all-over-powder-brush-dusty-pink.html">All over Powder Brush F01</a>.</p>
</div>
   <!-- DP Text section ends here -->
   
   

        <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:0aeb7745-1d05-437f-84c9-53a5997fa7b3/as/hm-magazine-hm-beauty-5.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <h2 class="hm-magazine-h2">THE BLUSH</h2>
    <p class="hm-magazine-description-dp text-center">Raoúl:<br>
        “I was able to create this beautiful sunset-like cheek, and what really helped me to create was the different sizes of the brushes.”</p>
    <p class="hm-magazine-description-dp text-center">Products: <a href="/en/buy-pressed-powder-blusher-spring-fling.html">Oh My Blush Blush</a> in Peachy Keen and Spring Fling matched with Angled Cheek Brush F30 and Precision Highlighter Brush F32.</a>.</p>
</div>
   <!-- DP Text section ends here -->



        <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:be36197d-ff39-434e-8c29-6784e8bf823e/as/hm-magazine-hm-beauty-6.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <h2 class="hm-magazine-h2">THE EYES</h2>
    <p class="hm-magazine-description-dp text-center">Raoúl:<br>
        “The eye kajal specifically melts into the skin like butter. It’s the perfect base to sketch out a smoked-out eye.”</p>
    <p class="hm-magazine-description-dp text-center">Products: Eyeshadow Smudging Brush E05 matched with <a href="/en/buy-soft-and-blendable-eyeliner-pencil-blackest-black.html">Soft Kajal Eye Pencil</a>.</p>
</div>
   <!-- DP Text section ends here -->



      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <h2 class="hm-magazine-h2"><a href="/en/shop-beauty/trending-now/perfect-make/">Discover even more Beauty</a></h2>
    <p class="hm-magazine-description-dp text-center">The campaign is now live in-store and on hm.com/beauty.
        Follow us on TikTok + <a href="/en/raoul-alejandre-creates-new-looks-contemporary-spin-hm-beauty/">IG</a> for our exciting beauty journey.</p>
</div>
   <!-- DP Text section ends here -->


</div>
<!-- DP Container block ends  -->
  </div>
</body>

</html>
