<!DOCTYPE html>
<html lang="ar">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>H&M Magazine Preschool</title>
  <link rel="stylesheet" href="/fragments/magazine-pages/magazine-style.css">
</head>

<body>
  <div class="hm-magazine-wrap hm-magazine-wrap-dp">
   
<!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
<img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:5db7430b-dc90-497d-bb42-e96d79328732/as/w48-hm-magazine-main-07.jpg?preferwebp=true&width=2000&format=jpg" alt="hm-magazine">
</div>
<!-- col-1 Image section ends here -->
<!-- Text section starts here -->
<div class="hm-magazine-text-hold">
 <p class="hm-magazine-preample">عالم اتش آند ام</p>
 <h1 class="hm-magazine-h1">يُبدع الفنان راؤول اليخاندري في ابتكار إطلالات جديدة بلمسة عصرية مُبهرة مع منتجات الجمال من اتش آند ام</h1>
 <p class="hm-magazine-description">تستمر اتش آند ام بيوتي في تقديم منتجات الجمال بشكل جديد عبر إطلاق حملتها الثانية ضمن مفهوم حكايات الجمال التي تركّز على إبراز جمال الشفاه، وأدوات المكياج وغيرهم من المنتجات عالية الجودة.</p>
 <p class="date-p">22 فبراير 2024</p>
</div>
<!-- Text section ends here -->
<!-- image text block ends  -->

  
<!-- DP Container block starts  -->
<div class="hm-magazine-dp-block-container">
      <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:a3469d61-6f13-43bd-afb0-bf5e873292c4/as/hm-magazine-hm-beauty-1.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->
<!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">يُعدّ راؤول أليخاندري، بوصفه خبير المكياج العالمي لدى اتش آند ام بيوتي، الفنان المُبدع وراء جميع تلك الإطلالات التي ظهرت في الحملة الترويجية. ينظر راؤول إلى هذا التعاون بوصفه إضفاءً جمالياً بلمسة معاصرة للإطلالات المفضلة لديه من الماضي، والمستوحاة من الإطلالات الجمالية المتعددة اللافتة للأنظار في فترة الثمانينيات.</p>
    <p class="hm-magazine-description-dp">فيما يخص هذه الحملة الترويجية، تواصل اتش آند ام استخدام طابعها المميّز باللونين الأحمر والوردي في منتجاتها الجديدة التي تشمل أحمر الشفاه بلمسات نهائية حريرية وغير لامعة، ويتألق بدرجات ألوان مُبهرة. ليس ذلك وحسب، بل أن جميع منتجات أحمر الشفاه غنية بحمض الهيالورونيك وتتسم بتركيبة نباتية بالكامل تماماً مثل غيرها من القطع ضمن تشكيلة المكياج.</p>
    <p class="hm-magazine-description-dp"><i>صرح راؤول أليخاندري، خبير المكياج العالمي لدى اتش آند ام بيوتي، قائلاً "تُعجبني الصبغات اللونية عالية الجودة والتركيبات الغنية لهذه المجموعة، فهي يسيرة التكلفة تماماً وفي متناول الجميع. كما أحب حقاً استخدام مجموعة متنوعة من ثلاثة ألوان لابتكار لون شفاه فريد من نوعه. وفي محاولة للحصول على "شفاه أومبري" من خلال مزج لونين مختلفين من أحمر الشفاه، تكون أقلام تحديد الشفاه عنصراً أساسياً في هذا المزيج اللوني"</i></p>
    <!-- <h2 class="hm-magazine-h2 text-right">Raoúl Alejandre, H&M Beauty Global Makeup Artist</h2> -->
    <p class="hm-magazine-description-dp">يتوفّر أحمر الشفاه ساتين ايكون في 36 درجة لونية مختلفة، تمنح الشفاه لمسةً نهائية حريرية وناعمة وغنية لتغطية مكثفة. يتميز أحمر الشفاه غير اللامع مات ليبي بلمسة نهائية لامعة ومشرقة، ويتوفر في 18 درجة لونية مختلفة. ولاستكمال مجموعتنا الجمالية، أُطلق أحمر شفاه سائل يُسمى "ماد فور مات" وقلم تحديد شفاه "مارك ماي ليبس" لتعزيز جمال إطلالات الشفاه.</p>
</div>
   <!-- DP Text section ends here -->

    <!-- col-1 Image section starts here -->
    <h2 class="hm-magazine-h2">حكايات الفنان راؤول أليخاندري الإبداعية وراء الإطلالات الجمالية</h2>
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:60d8b23b-41ee-48a9-9187-1b0e1e02e60b/as/hm-magazine-hm-beauty-2.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->
    <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <h2 class="hm-magazine-h2">الشفاه</h2>
    <p class="hm-magazine-description-dp text-center">يقول راؤول:<br>
        إن أكثر ما يعجبني في منتجات الشفاه هو الصبغات اللونية عالية الجودة والتركيبات الغنية كونها مُصممة بقوام مذهل ينساب على الشفاه بشكل مثالي.</p>
    <p class="hm-magazine-description-dp text-center">المنتجات: <a href="/ar/buy-satin-lipstick-cherry-who.html"> أحمر الشفاه ساتين آيكون</a><br>
        يستخدم راؤول اسفنجة البودرة لحماية المكياج</p>
</div>
   <!-- DP Text section ends here -->
    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:59a6f8d1-063a-43e2-b370-70060cc5facd/as/hm-magazine-hm-beauty-3.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <h2 class="hm-magazine-h2">قاعدة الأساس:</h2>
    <p class="hm-magazine-description-dp text-center">يقول راؤول:<br>
        "أشعر أن استخدام إسفنجات المكياج يشبه تقريباً وجود إصبع إضافي. فهي تمزج بين كريم الأساس أو الكونسيلر بسلاسة."</p>
        <p class="hm-magazine-description-dp text-center">المنتجات: كونسيلر كوفر مي آب مع واحدة من اسفنجات المكياج ضمن تشكيلتنا النباتية.</p>
</div>
   <!-- DP Text section ends here -->

       <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:12753440-f8b2-4a3e-8098-2b8edfc65e18/as/hm-magazine-hm-beauty-4.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <h2 class="hm-magazine-h2">التوهج</h2>
    <p class="hm-magazine-description-dp text-center">Raoúl:<br>
        "أنني أعشق استخدام فراشي متعددة عند وضع الهايلايتر، وأحب حقاً استخدام فراشي الهايلايتر المُدببة لابتكار أقصى قدر من التوهج على النقاط العالية للوجنتين، وجسر الأنف، وقوس كيوبيد</p>
    <p class="hm-magazine-description-dp text-center">المنتجات: هايلايتر آت فيرست لايت مع فرشاة الخدود المُدببة F31، وفرشاة الهايلايتر الدقيقة F32،  <a href="/ar/buy-all-over-powder-brush-dusty-pink.html">وفرشاة البودرة الشاملة F01</a>.</p>
</div>
   <!-- DP Text section ends here -->
   
   

        <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:0aeb7745-1d05-437f-84c9-53a5997fa7b3/as/hm-magazine-hm-beauty-5.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <h2 class="hm-magazine-h2">أحمر الخدود</h2>
    <p class="hm-magazine-description-dp text-center">يقول راؤول:<br>
        "لقد تمكنت من ابتكار خدود بمظهر جمالي يشبه غروب الشمس باستخدام أحجام مختلفة من الفراشي."</p>
    <p class="hm-magazine-description-dp text-center">المنتجات:<a href="/ar/buy-pressed-powder-blusher-spring-fling.html"> أحمر الخدود أوه ماي بلاش</a>بلون بيتشي كين وسيربينغ فلينغ مع فرشاة خدود منحنية F30 وفرشاة هايلايتر دقيقة F32</a>.</p>
</div>
   <!-- DP Text section ends here -->



        <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:be36197d-ff39-434e-8c29-6784e8bf823e/as/hm-magazine-hm-beauty-6.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <h2 class="hm-magazine-h2">العيون</h2>
    <p class="hm-magazine-description-dp text-center">يقول راؤول:<br>
        "ينساب كحل العين على البشرة مثل الزبدة لتشكيل قاعدة مثالية لرسم العيون والحصول على إطلالة سموكي الخلابة.</p>
    <p class="hm-magazine-description-dp text-center">المنتجات: فرشاة تطبيق ظلال العيون E05<a href="/ar/buy-soft-and-blendable-eyeliner-pencil-blackest-black.html">مع قلم كحل ناعم</a>.</p>
</div>
   <!-- DP Text section ends here -->



      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <h2 class="hm-magazine-h2"><a href="/ar/shop-beauty/trending-now/perfect-make/">اكتشفي المزيد من منتجات المكياج</a></h2>
    <p class="hm-magazine-description-dp text-center">الحملة بدأت الآن في محلاتنا وعبر موقع
      تابعونا على تيك توك + <a href="/ar/raoul-alejandre-creates-new-looks-contemporary-spin-hm-beauty/">IG</a> للتعرَف على رحلة الجمال المذهلة</p>
</div>
   <!-- DP Text section ends here -->


</div>
<!-- DP Container block ends  -->
  </div>
</body>

</html>
