<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>H&M Magazine Move</title>
  <link rel="stylesheet" href="/fragments/magazine-pages/magazine-style.css">
</head>

<body>
  <div class="hm-magazine-wrap hm-magazine-wrap-dp">
   
<!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
<img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:8d975e72-37cf-416a-bcea-1a6f5bbb1227/as/w48-hm-magazine-main-08.jpg?preferwebp=true&width=2000&format=jpg" alt="hm-magazine">
</div>
<!-- col-1 Image section ends here -->
<!-- Text section starts here -->
<div class="hm-magazine-text-hold">
 <p class="hm-magazine-preample">INSIDE H&M</p>
 <h1 class="hm-magazine-h1">RAYE & Zlatan invite the world to move in style with H&M Move</h1>
 <p class="hm-magazine-description">H&M Move’s upcoming movewear release is expertly engineered using the latest technologies, merging the dynamic forces of sports and fashion. Set to launch on 11 January, the cutting-edge collection will be unveiled by powerhouse musician RAYE and football legend Zlatan Ibrahimović.</p>
 <p class="date-p">11 January 2024</p>
</div>
<!-- Text section ends here -->
<!-- image text block ends  -->

<!-- DP Container block starts  -->
<div class="hm-magazine-dp-block-container">
<!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">The new-season drop is inspired by HIIT training and the juxtaposing elements of sports and fashion. It includes stylish workout sets with body-enhancing cutlines and luxe athleisure wear in bold oversized silhouettes, all meticulously crafted with fabrics featuring H&M Move’s sweat-wicking DryMove™ and extra supportive ShapeMove™ functionalities.</p>
</div>
   <!-- DP Text section ends here -->

    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:4e4bae2d-c3c2-41f3-b9d4-455e7fe237db/as/hm-magazine-hm-move-1.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->
    <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">British singer-songwriter RAYE embodies this aesthetic and has partnered with H&M Move for the collection launch. The celebrated artist is featured in the campaign alongside two of her best friends and dancers who are supporting the star during her world tour. RAYE is also seen working out and dancing to an instrumental version of her hit ‘Escapism’.</p>
    <p class="hm-magazine-description-dp"><i>“I really believe that movement is for everyone. It’s about your unique journey and how you move forward in life, both mentally and physically. Being confident in who you are and in your own skin takes time, but through movement it's possible,”</i></p>
    <h2 class="hm-magazine-h2 text-right">says RAYE.</h2>
</div>
   <!-- DP Text section ends here -->
    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:74e88da5-1148-4ca5-a2ed-d5859aaef7ba/as/hm-magazine-hm-move-2.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
   <p class="hm-magazine-description-dp">In the new campaign, the musician shares the spotlight with renowned striker Zlatan Ibrahimović, who joined the H&M Move team as a Brand Mover in 2022.</p>
   <p class="hm-magazine-description-dp"><i>“Movement is in my DNA, and I’ll never stop pushing forward. H&M Move is the same, and with this collection they’re really taking movewear to the next level. Shooting the campaign together with RAYE was a lot of fun, and I think it turned out great,”</i></p>
   <h2 class="hm-magazine-h2 text-right">says Zlatan Ibrahimović.</h2>
</div>
   <!-- DP Text section ends here -->

       <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:2a04619a-0aa0-4f75-b9ea-ddcddb050660/as/hm-magazine-hm-move-3.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">To celebrate the new collection and campaign, H&M Move will be hosting a live performance by RAYE in London on 24 January. In an intimate setting, the award-winning artist will entertain a select number of specially invited guests with some of her chart-topping tracks.</p>
    <p class="hm-magazine-description-dp">“With this campaign we are truly pleased to once again bring together the worlds of sports and fashion, with the help of music superstar RAYE and sports legend Zlatan Ibrahimović, showing that however you move, we always keep moving,”</p>
    <h2 class="hm-magazine-h2 text-left">says Henrik Kroon, newly appointed General Manager at H&M Move.</h2>
    <p>The new movewear collection will be available in-store and at <a href="/en/shop-sport/">hm.com/move</a> 11 January.</p>
    <div class="magazine-dp-a-div"><a href="/en/shop-sport/women/">Shop Women</a><a href="/en/shop-sport/men/">Shop Men</a></div>
</div>
   <!-- DP Text section ends here -->
   
    <!-- col-1 youtubevideo section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <iframe  width="100%" height="auto" src="https://www.youtube.com/embed/jhSO4oDME8c" title="The ultimate fusion of sport &amp; fashion | H&amp;M Move" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
   </div>
 <!-- col-1 youtubevideo section Ends here -->
   <h1 class="hm-magazine-h1">Shop the story</h1>
</div>
<!-- DP Container block ends  -->
  </div>
</body>

</html>

