<!DOCTYPE html>
<html lang="ar">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>H&M Magazine Move</title>
  <link rel="stylesheet" href="/fragments/magazine-pages/magazine-style.css">
</head>

<body>
  <div class="hm-magazine-wrap hm-magazine-wrap-dp">
   
<!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
<img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:8d975e72-37cf-416a-bcea-1a6f5bbb1227/as/w48-hm-magazine-main-08.jpg?preferwebp=true&width=2000&format=jpg" alt="hm-magazine">
</div>
<!-- col-1 Image section ends here -->
<!-- Text section starts here -->
<div class="hm-magazine-text-hold">
 <p class="hm-magazine-preample">عالم اتش آند ام</p>
 <h1 class="hm-magazine-h1">المغنية راي واللاعب زلاتان يعلنان عن تشكيلة جديدة تجمع بين الرياضة والأناقة مع اتش آند إم موف</h1>
 <p class="hm-magazine-description">تطلق اتش آند ام موف للملابس الرياضية مجموعتها الجديدة المصنوعة بخبرة ودقة عالية باستخدام أحدث التقنيات للحصول على أفضل ملابس رياضية تجمع بين الرياضة والموضة. موعد إطلاق هذه المجموعة هو 11 يناير، والتي ستكشف عنها الموسيقية والمغنية الشهيرة راي ولاعب كرة القدم الأسطوري زلاتان إبراهيموفيتش.</p>
 <p class="date-p">11 يناير 2024</p>
</div>
<!-- Text section ends here -->
<!-- image text block ends  -->

<!-- DP Container block starts  -->
<div class="hm-magazine-dp-block-container">
<!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">تستوحي تشكيلة الموسم الجديدة تصاميمها من تمارين HIIT الرياضية المكثفة بأسلوب يجمع بين الرياضة والموضة. تشمل على ملابس رياضية عملية داعمة للجسم أثناء التمرين بتصاميم راقية وقصات جريئة واسعة، جميعها مصنوعة بطريقة مدروسة ودقيقة من أنسجة اتش آند إم موف الخاصة من قماش دراي موف الذي يتميز بخاصية امتصاص الرطوبة والتعرق ليبقى الجسم جافاً أثناء الحركة وأنسجة شيب موف المتينة الداعمة للجسم.</p>
</div>
   <!-- DP Text section ends here -->

    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:4e4bae2d-c3c2-41f3-b9d4-455e7fe237db/as/hm-magazine-hm-move-1.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->
    <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">تجسد المغنية ومؤلفة الأغاني البريطانية راي هذه الجمالية من خلال الشراكة مع اتش آند ام موف لإطلاق هذه التشكيلة. وتظهر الفنانة الشهيرة في هذه الحملة مع راقصتين تعتبرهما النجمة من أعز صديقاتها ومن أفضل الراقصين ليقدموا لها الدعم خلال جولتها العالمية. وتظهر المغنية راي أيضاً وهي تتمرن وترقص على موسيقى أغنيتها الشهيرة "إسكابيزم".</p>
    <p class="hm-magazine-description-dp"><i>"أنا أؤمن بأن الرياضة مناسبة للجميع. وهي تتعلق بأسلوبك الخاص وكيفية تقدمك في الحياة وتحقيق النجاح من الناحية العقلية والجسدية. قد تحتاج لبعض الوقت لتكون واثقاً بنفسك وبكل إمكانياتك، ولكن مع النشاط الرياضي سيكون ذلك سهلاً".</i></p>
    <h2 class="hm-magazine-h2 text-right">تقول راي</h2>
</div>
   <!-- DP Text section ends here -->
    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:74e88da5-1148-4ca5-a2ed-d5859aaef7ba/as/hm-magazine-hm-move-2.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
   <p class="hm-magazine-description-dp">في هذه الحملة الجديدة، تتشارك الموسيقية الشهيرة الأضواء مع المهاجم الشهير زلاتان إبراهيموفيتش، الذي تعاون مع فريق اتش آند إم موف ليكون الرياضي الممثل للعلامة التجارية في عام 2022.</p>
   <p class="hm-magazine-description-dp"><i>"الرياضة تسري في عروقي مع دمي، ولن أتوقف أبداً عن المضي قدماً. وكذلك أرى اتش آند إم موف، ومع هذه المجموعة الجديدة، فإنها تنقل الملابس الرياضية إلى مستوى جديد ومتقدم. لقد كان تصوير الحملة الإعلانية مع راي ممتعاً للغاية، وأعتقد أن النتيجة كانت مذهلة."</i></p>
   <h2 class="hm-magazine-h2 text-right">يقول زلاتان ابراهيموفيتش</h2>
</div>
   <!-- DP Text section ends here -->

       <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:2a04619a-0aa0-4f75-b9ea-ddcddb050660/as/hm-magazine-hm-move-3.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">للاحتفال بإطلاق هذه التشكيلة والحملة الجديدة، ستقوم ماركة اتش آند إم موف باستضافة المغنية راي في أداء مباشر في لندن يوم 24 يناير. ستقوم الفنانة الحائزة على جوائز بتقديم أداء خاص لمجموعة مختارة من الضيوف المدعويين ببعض أفضل مقطوعاتها الموسيقية التي تتصدر القائمة، ليستمتعوا بأروع الأجواء.</p>
    <p class="hm-magazine-description-dp">"من خلال هذه الحملة، يسعدنا كثيراً أن نجمع مرة أخرى بين عالم الرياضة والموضة، بمساعدة نجمة الموسيقى راي والرياضي الأسطوري زلاتان إبراهيموفيتش، لنظهر للعالم بأنه مهما كان أسلوبك الرياضي، نحن مستمرون معك في التقدم".</p>
    <h2 class="hm-magazine-h2 text-left">يقول هنريك كرون، المدير العام الجديد في اتش آند إم موف.</h2>
    <p>ستكون مجموعة الملابس الرياضية متوفرة في المحلات وأونلاين على<a href="/ar/shop-sport/">hm.com/move</a> يوم 11 يناير.</p>
    <div class="magazine-dp-a-div"><a class="hm-magazine-description-dp" href="/ar/shop-sport/women/">تسوق تشكيلة النساء </a><a href="/ar/shop-sport/men/">تسوق تشكيلة الرجال</a></div>
</div>
   <!-- DP Text section ends here -->
   
    <!-- col-1 youtubevideo section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <iframe  width="100%" height="auto" src="https://www.youtube.com/embed/jhSO4oDME8c" title="The ultimate fusion of sport &amp; fashion | H&amp;M Move" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
   </div>
 <!-- col-1 youtubevideo section Ends here -->
   <h1 class="hm-magazine-h1">تسوق منتجات المقال</h1>
</div>
<!-- DP Container block ends  -->
  </div>
</body>

</html>

