<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>H&M Magazine studio capsule</title>
  <link rel="stylesheet" href="/fragments/magazine-pages/magazine-style.css">
</head>

<body>
  <div class="hm-magazine-wrap hm-magazine-wrap-dp">
   
<!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
<img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:eeacd119-4a41-4d81-af0e-4aac026cc353/as/w51-magazine-kwt-2-1.png?preferwebp=true&width=2000&format=jpg" alt="hm-magazine">
</div>
<!-- col-1 Image section ends here -->
<!-- Text section starts here -->
<div class="hm-magazine-text-hold">
 <p class="hm-magazine-preample">عالم اتش آند ام</p>
 <h1 class="hm-magazine-h1">تشكيلة اتش آند ام استوديو المصغرة</h1>
 <p class="hm-magazine-description">تشكيلة من أزياء الأمسيات مُصممة في ورشتنا في ستوكهولم.</p>
 <p class="date-p">14 نوفمبر 2024</p>
</div>
<!-- Text section ends here -->
<!-- image text block ends  -->

<!-- DP Container block starts  -->
<div class="hm-magazine-dp-block-container">
<!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">يمثّل موسم الاحتفالات الكثير من المناسبات التي تتطلب التألق بإطلالات مُبهرة، لذا نقدّم لكم أحدث تشكيلاتنا المصغرة المميزة بقطع راقية ومثالية لأوقات احتفال لا تُنسى.</p>
</div>
   <!-- DP Text section ends here -->

    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:963a88fe-70a9-48ae-815a-7eb4e5a4a32e/as/w51-magazine-hm-studio-capsule-1.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->
    <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">"استعداداً لهذا الموسم، أبدع فريق التصميم في ابتكار أزياء فاخرة للأمسيات ليتسنى لكم الاستمتاع بإطلالات واثقة تخطف الأنظار وتضمن الراحة وسهولة الارتداء."
      كاثرين دويتش، مُصممة التشكيلة في استوديوهات اتش آند ام.</p>
</div>
   <!-- DP Text section ends here -->
    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:81d17a12-fe95-433a-95e2-641b96cc19a1/as/w51-magazine-hm-studio-capsule-2.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->

      <div class="hm-magazine-text-hold-dp">
        <p class="hm-magazine-description-dp">إن أكثر ما يميّز هذه التشكيلة هو الخياطة الراقية، واللمسة الأنثوية المُبهرة، والطابع العصري الذي يتجلى في تقديم أزياء سهرة تواكب أحدث صيحات الموضة وتضمن الأناقة الدائمة.</p>
        <p class="hm-magazine-description-dp">لقد حرصنا على انتقاء أفضل التصاميم المميّزة بطابعها الراقي، وتفاصيلها المُبهرة، ونسّقناها مع الإكسسوارات المفضلة للجميع لابتكار إطلالات لافتة تلائم أناقتكم في موسم الاحتفالات."
          آن صوفي جوهانسون، المستشارة الإبداعية ورئيس قسم تصميم الملابس النسائية في اتش آند ام.</p>
    </div>
   <!-- DP Text section ends here -->
   
    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
  <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:6ab5cac8-9e33-4f52-8564-428d92737dc4/as/w51-magazine-hm-studio-capsule-3.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
 </div>
 <!-- col-1 Image section ends here -->

    <!-- DP Text section starts here -->

    <div class="hm-magazine-text-hold-dp">
      <p class="hm-magazine-description-dp">تحتوي أبرز إطلالات التشكيلة على بدلة مُحاكة بعناية باللون الأزرق الداكن، ومعطفاً جلدياً باللون الأسود، وقميص نوم باللون البيج الداكن، وجاكيت بومبر من الجلد المُبطن. إضافة إلى الإكسسوارات التي تعزز جمال التشكيلة والتي تشمل قطعاً مذهلة مثل حقيبة جلدية باللون الذهبي، وبوت جلد بكعب، وحذاء لوفر بحواف باللون الذهبي، ومجوهرات مزركشة بأحجار الرايون.</p>
  </div>
 <!-- DP Text section ends here -->


     <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
  <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:0e82f096-49ca-4dfb-a188-c2a1bbc96014/as/w51-magazine-hm-studio-capsule-4.png?preferwebp=true&width=750&format=png"  alt="hm-magazine">
 </div>
 <!-- col-1 Image section ends here -->

    <!-- DP Text section starts here -->

    <div class="hm-magazine-text-hold-dp">
      <p class="hm-magazine-description-dp">تحتوي التشكيلة على تصاميم حصرية ستكون متوفّرة للإيجار في محلات مختارة في ستوكهولم، وبرلين، وأمستردام، ولندن.</p>
      <p class="hm-magazine-description-dp">سيتم إطلاق التشكيلة في محلات مختارة وأونلاين بتاريخ 21 نوفمبر.</p>
  </div>
 <!-- DP Text section ends here -->

</div>
<!-- DP Container block ends  -->
  </div>
</body>

</html>
