<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>H&M Magazine studio capsule</title>
  <link rel="stylesheet" href="/fragments/magazine-pages/magazine-style.css">
</head>

<body>
  <div class="hm-magazine-wrap hm-magazine-wrap-dp">
   
<!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
<img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:eeacd119-4a41-4d81-af0e-4aac026cc353/as/w51-magazine-kwt-2-1.png?preferwebp=true&width=2000&format=jpg" alt="hm-magazine">
</div>
<!-- col-1 Image section ends here -->
<!-- Text section starts here -->
<div class="hm-magazine-text-hold">
 <p class="hm-magazine-preample">INSIDE H&M</p>
 <h1 class="hm-magazine-h1">H&M Studio Capsule</h1>
 <p class="hm-magazine-description">An evening collection designed at our Stockholm atelier.</p>
 <p class="date-p">14 November 2024</p>
</div>
<!-- Text section ends here -->
<!-- image text block ends  -->

<!-- DP Container block starts  -->
<div class="hm-magazine-dp-block-container">
<!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">The festive season presents multiple occasions to dress up and the latest Studio capsule offers sleek and sophisticated looks that are ideal for celebratory moments.</p>
</div>
   <!-- DP Text section ends here -->

    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:963a88fe-70a9-48ae-815a-7eb4e5a4a32e/as/w51-magazine-hm-studio-capsule-1.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->
    <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">“This season, the design team channeled quiet confidence, creating after-dark pieces that set pulses racing, while evoking a sense of ease,” says Kathrin Deutsch, collection designer at H&M Studio.</p>
</div>
   <!-- DP Text section ends here -->
    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:81d17a12-fe95-433a-95e2-641b96cc19a1/as/w51-magazine-hm-studio-capsule-2.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->

      <div class="hm-magazine-text-hold-dp">
        <p class="hm-magazine-description-dp">The collection is rooted in refined tailoring and feminine draping with a modern twist, resulting in eveningwear that transcends time and trend.</p>
        <p class="hm-magazine-description-dp">“We distilled sharp silhouettes and edgy details in ways that feel effortless to wear this party season, combining them with covetable accessories that spark desire,” says Ann-Sofie Johansson, creative advisor and head of womenswear design at H&M.</p>
    </div>
   <!-- DP Text section ends here -->
   
    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
  <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:6ab5cac8-9e33-4f52-8564-428d92737dc4/as/w51-magazine-hm-studio-capsule-3.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
 </div>
 <!-- col-1 Image section ends here -->

    <!-- DP Text section starts here -->

    <div class="hm-magazine-text-hold-dp">
      <p class="hm-magazine-description-dp">Key looks include an expertly tailored navy suit, a sweeping black leather coat, a champagne-hued gown, day-to-night denim and a padded leather bomber jacket. Accessories enhance the collection with subtle sophistication in the form of a gold leather bag, heeled leather booties, gold-tipped loafers and rhinestone-studded jewellery.</p>
  </div>
 <!-- DP Text section ends here -->


     <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
  <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:0e82f096-49ca-4dfb-a188-c2a1bbc96014/as/w51-magazine-hm-studio-capsule-4.png?preferwebp=true&width=750&format=png"  alt="hm-magazine">
 </div>
 <!-- col-1 Image section ends here -->

    <!-- DP Text section starts here -->

    <div class="hm-magazine-text-hold-dp">
      <p class="hm-magazine-description-dp">An exclusive edit of pieces from the collection will be available to rent at selected stores in Stockholm, Berlin, Amsterdam and London.</p>
      <p class="hm-magazine-description-dp">Launching in selected stores and online 21 November.</p>
  </div>
 <!-- DP Text section ends here -->

</div>
<!-- DP Container block ends  -->
  </div>
</body>

</html>
