<!DOCTYPE html>
<html lang="ar">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>H&M Magazine Imagination</title>
  <link rel="stylesheet" href="/fragments/magazine-pages/magazine-style.css">
</head>

<body>
  <div class="hm-magazine-wrap hm-magazine-wrap-dp">
   
<!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
<img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:8d4f5022-3571-45b0-85cc-5a885b77f5bd/as/w48-hm-magazine-main-02.jpg?preferwebp=true&width=2000&format=jpg" alt="hm-magazine">
</div>
<!-- col-1 Image section ends here -->
<!-- Text section starts here -->
<div class="hm-magazine-text-hold">
 <p class="hm-magazine-preample">عالم اتش آند ام</p>
 <h1 class="hm-magazine-h1">أطلق العنان لمخيلتك مع تشكيلة روب فان ميرلو × إتش آند إم</h1>
 <p class="hm-magazine-description">هذا الموسم، تتعاون إتش آند إم مع الفنان الهولندي روب فان ميرلو في تشكيلة جديدة مرحة مليئة برسومات الحيوانات للأطفال والرضع.</p>
 <p class="date-p">28 مارس 2024</p>
</div>
<!-- Text section ends here -->
<!-- image text block ends  -->

<!-- DP Container block starts  -->
<div class="hm-magazine-dp-block-container">
<!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">قطة ناعمة أو فهد مهيب؟ قام الفنان الهولندي روب فان ميرلو بتصميم رسومات "الحيوانات البرية" خصيصاً لتلفت الأنظار وتجعلك تؤكد النظر مرتين. يقول الفنان المقيم في أمستردام: "عندما رسمت لوحة النمر، وهي أول لوحة لي عن "الحيوانات البرية" في عام 2008، كانت مجرد فكرة - كنت أحاول أن أعبر عن حيوان بري لا يمكن ترويضه، ورسمته باستخدام تقنية "ألوان سائلة على لوحات مبللة" حيث تعلمت هذه التقنية في المدرسة عندما كنت طفلاً. على مر السنين، تطورت سلسلة رسوماتي عن "الحيوانات البرية" لتصبح مجموعة كبيرة من الأعمال الفنية". في أبريل، سيصبح عالم "الحيوانات البرية" أكبر من ذلك بكثير، حيث سيتم إطلاق تشكيلة حصرية من ملابس الأطفال في مجموعة نابضة بالحياة ومثيرة للفضول لدى إتش آند إم.</p>
    <p class="hm-magazine-description-dp">لقد كانت رسوماتي بسيطة ومرحة وفريدة من نوعها، وهي تشبه مزايا التشكيلة الجديدة فهي منسوجة من أقمشة خفيفة مريحة وتبرز فيها الألوان والطبعات بشكل رائع. وتتميز التشكيلة بطبعات لخمس رسومات من لوحات "الحيوانات البرية" للفنان روب فان ميرلو - فهد، وزيبرا، وحصان وعنزتان صغيرتان وفراشة - بالإضافة إلى أعمال جديدة تضم خطوطاً مرسومة باليد وطبعات على شكل ربطة عنق ووشاح بنقشة بيزلي. والنتيجة هي تشكيلة مذهلة تعكس سلسلة "الحيوانات البرية" وتلهم الآخرين للتعبير عن أنفسهم بطريقة إبداعية بدون أي قيود.</p>
</div>
   <!-- DP Text section ends here -->

    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:3a52e9ac-765f-4084-9e2a-d11b0323d2ed/as/hm-magazine-imagination-2.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->
    <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">"التحرر والتقيد" مفهومان أذهلا الفنان فان ميرلو. عندما كان طفلاً، كان يفكر أنه لا يريد الحصول على وظيفة عندما يكبر. حيث يقول مبتسماً وهو يتذكر طفولته: "لم أكن أفهم بوضوح ما الذي كان يفعله البالغون في حياتهم، يعملون طوال الوقت، ولا تبدو عليهم السعادة، ويعيشون التوتر بشأن كل شيء. أنا فكرت، لماذا سأحصل على عمل عندما أكبر؟ لا يبدو الأمر ممتعاً أبداً". ثم يتابع: "الآن عندما كبرت، وأصبح لديّ أطفال، صرت أفهم الأمور بشكل أفضل وأنه يتوجب عليك أن تعمل لتكسب عيشك. وربما عليك القيام بالكثير من الأمور المملة أيضاً. ولكنني تمكنت من إدارة أموري بشكل جيد للغاية."</p>
    <p class="hm-magazine-description-dp">انطلقت فكرة "الحيوانات البرية" من خلال تجارب الفنان فان ميرلو أثناء دراسته في أكاديمية التصميم في أيندهوفن. ولأنه كان يفكر دائماً في سبب رغبة البشر بالسيطرة على الطبيعة، أصبح مهتماً بالعمل في وسط لا يمكن السيطرة عليه من خلال الرسم بالألوان. بدأ العمل في إحدى الليالي على ورق مبلل وحبر سائل، وبعدها ابتكر رسومات لـ 10 حيوانات مختلفة على شكل طبقات رقيقة مكررة وغامضة. اليوم، صار يقدر هذا الإنجاز العظيم برسومات الحيوانات التي يصل عددها "ما بين المئات إلى الآلاف" التي تتخطى الحواف والزوايا وتتميز بطابع بسيط جذاب يشبه الأطفال وعالمهم.</p>
</div>
   <!-- DP Text section ends here -->
    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:223e75d5-5ee2-484b-968f-f0bb3c082494/as/hm-magazine-imagination-3.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">تعتبر مجموعة الأعمال الفنية "الحيوانات البرية" أساس طبعات تشكيلة الأطفال لدى إتش آند إم. لكن فان ميرلو كان متحمساً للعمل على بعض الأنماط الجديدة، وتجربة طبعات مكررة لبعض التصاميم الرائعة لديه. حيث يقول: "عندما تواصلت إتش آند إم معي، أعجبتنا الفكرة منذ اللحظة الأولى. بدأنا بعملية اختيار أعمالي السابقة، ورسمت بعض الرسومات الجديدة. لقد كانت عملية ممتعة للغاية، وكنت سعيداً جداً لتمكني من تقديم أعمالي لجمهور أكبر وجعلها في متناول الجميع." </p>
    <p class="hm-magazine-description-dp">تقول صوفيا لوفستيدت، رئيسة قسم التصميم والإبداع لملابس الأطفال في إتش آند إم: "لقد أعجب فريق تصميم إتش آند إم بشكل كبير برسومات روب فان ميرلو المبتكرة للحيوانات". "يسعدنا أن نشارك الأطفال الصغار هذا المزيج الرائع والمختار من لوحاته الأكثر شهرة بالإضافة إلى أعمال جديدة مميزة من خلال تشكيلة ملابس مرحة تعكس جمال وسحر سلسلة "الحيوانات البرية"." </p>
    <p class="hm-magazine-description-dp">تي-شيرتات مصنوعة من قطن عضوي هي القطع الأساسية في المجموعة، وتتميز كل منها بطبعة تحمل رسمة حيوان نابض بالحياة وفريد من نوعه، بينما تظهر الزيبرا والفهود بنقوش متكررة لافتة للنظر على ملابس السباحة والقبعات. ويتميز طقمان من الكنزات والشورتات المصنوعة من نسيج تيري بطبعة بألوان جريئة. بينما تظهر الخطوط المرسومة يدوياً بألوان ترابية بشكل رائع على فستان من الكتان الذي يتميز بشرائط مربوطة، وعلى القمصان المريحة والشورتات، وقبعات البيسبول. بالإضافة لحقيبة واسعة بطبعة زيبرا، من المؤكد أنها ستكون المفضلة للعائلة في عطلاتهم القادمة.</p>
</div>
   <!-- DP Text section ends here -->
   
   

       <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:4b9ffb30-74b7-4a42-a6a7-3c9aeb260490/as/hm-magazine-imagination-4.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">من المؤكد أن بنات الفنان فان ميرلو الثلاث الصغيرات متحمسات بالتأكيد لرؤية التشكيلة، حيث كنّ يقدمن ملاحظاتهن على العينات أثناء العمل على التشكيلة. إحدى القطع المفضلة لدى فان ميرلو مطبوعة بنقشة جديدة ابتكرها للمشروع هي وشاح باندانا.  يقول: ”أنا أحب الباندانا حقاً، لأنها شيء مختلف جداً بالنسبة لي“. ثم يقول بالنسبة كيف يريد أن يشعر الناس عندما يرتدون هذه القطع: ”حسناً، سيكون من الرائع أن يشعر الناس بالراحة والثقة ويعيشوا الإحساس دون التفكير بأي شيء. فالسعادة والمزاجية والراحة والهدوء - كلها أمور جيدة لتجربتها.“ ثم يضحك قائلاً: ”هذه ملاحظة لي أيضاً!“  </p>
    <p class="hm-magazine-description-dp"><i>سيتم إطلاق مجموعة روب فان ميرلو × إتش آند إم لملابس الأطفال في المحلات وأونلاين على موقع hm.com ابتداءً من 4 أبريل.</i></p>
</div>
   <!-- DP Text section ends here -->

</div>
<!-- DP Container block ends  -->
  </div>
</body>

</html>
