<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>H&M Magazine Imagination</title>
  <link rel="stylesheet" href="/fragments/magazine-pages/magazine-style.css">
</head>

<body>
  <div class="hm-magazine-wrap hm-magazine-wrap-dp">
   
<!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
<img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:8d4f5022-3571-45b0-85cc-5a885b77f5bd/as/w48-hm-magazine-main-02.jpg?preferwebp=true&width=2000&format=jpg" alt="hm-magazine">
</div>
<!-- col-1 Image section ends here -->
<!-- Text section starts here -->
<div class="hm-magazine-text-hold">
 <p class="hm-magazine-preample">INSIDE H&M</p>
 <h1 class="hm-magazine-h1">LET YOUR IMAGINATION RUN FREE WITH ROP VAN MIERLO X H&M</h1>
 <p class="hm-magazine-description">This season, H&M collaborates with Dutch artist Rop van Mierlo on a joyful animal-filled collection for kids and babies.</p>
 <p class="date-p">11 July 2024</p>
</div>
<!-- Text section ends here -->
<!-- image text block ends  -->

<!-- DP Container block starts  -->
<div class="hm-magazine-dp-block-container">
<!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">Fluffy cat or fearsome jaguar? The Dutch artist Rop van Mierlo’s ‘Wild Animals’ paintings are designed to make you look twice. “When I created the Tiger, my first 'Wild Animals' painting, in 2008, it was purely a concept – I was trying to express an untamable animal in an untamable medium, using a wet-on-wet technique that I learnt at school as a child,” says the Amsterdam-based artist. “Over the years, my series ‘Wild Animals’ has grown into a crazy-big body of work.” In April, the world of ‘Wild Animals’ will get even bigger, launching across an exclusive collection of kidswear in a vibrant, curiosity-sparking collection for H&M.</p>
    <p class="hm-magazine-description-dp">Light-hearted and playful, as well as uniquely collectible, the collection’s key looks pair simple silhouettes with lightweight fabrics emboldened by colour and print. Five of van Mierlo’s ‘Wild Animals’ paintings are featured – including a jaguar, a zebra, a horse, two baby goats and a butterfly – as well as new works comprising hand-painted stripes, tie-dye-style prints and a paisley printed scarf. The result is a collection that captures the unique charm of the ‘Wild Animals’ series and encourages a spirit of artistic freedom.</p>
</div>
   <!-- DP Text section ends here -->

    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:3a52e9ac-765f-4084-9e2a-d11b0323d2ed/as/hm-magazine-imagination-2.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->
    <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">Freedom and control are concepts that have always fascinated van Mierlo. As a child, he admits he was determined not to have a job when he grew up. “I really didn’t understand what all the adults were doing with their lives, running around, looking unhappy, being stressed about everything. I thought, why would I have a job? It doesn’t look very fun,” he says, smiling at the memory. “Now that I’m older, and have kids myself, I understand better that you have to do things to make a living. And that you have to do a lot of boring stuff as well. But I’ve managed to do quite okay.”</p>
    <p class="hm-magazine-description-dp">‘Wild Animals’ grew out of van Mierlo’s experiments as part of his studies at Design Academy Eindhoven. Keen to explore the human urge to control the natural world, he became interested in working in a medium where paint became uncontrollable. Wet paper and running ink at the ready, he set to work one evening and soon he had created 10 different animals in fluffy, fuzzy iterations. Today, he estimates he has made “hundreds to thousands” of animal paintings that bleed past edges and corners, taking on a charmingly naïve quality that’s both childlike and otherworldly.</p>
</div>
   <!-- DP Text section ends here -->
    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:223e75d5-5ee2-484b-968f-f0bb3c082494/as/hm-magazine-imagination-3.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">The existing body of ‘Wild Animals’ works, which now encompasses a creative platform, formed the basis of the H&M kidswear collection. But van Mierlo was equally excited to work on some new patterns, and to experiment with repeat prints of some of his most memorable designs. “When H&M approached me, we clicked from the first moment. We started with the selection process of my previous work, and of course, I painted a few new things. It was a super nice process, and I was really happy to be able to offer my work to a bigger audience and to make it more affordable,” he recalls.</p>
    <p class="hm-magazine-description-dp">“The H&M design team fell in love with Rop van Mierlo’s inventive paintings of animals,” says Sofia Löfstedt, Head of Kidswear Design and Creative at H&M. “We’re thrilled to share a curated mix of his most recognisable paintings as well as distinctive new works to our younger customers with a playful collection that captures the charm of the ‘Wild Animals’ series.”</p>
    <p class="hm-magazine-description-dp">T-shirts in organic cotton are the collection’s hero pieces, each printed with a vibrant and unique animal painting, while eye-catching repeat pattern zebras and cheetahs appear across a swimming costume, trunks and a bucket hat. Two terry sweater-and-shorts sets feature the bold tie-dye print. Meanwhile the hand-painted stripes appear in an earthy colour palette on a linen-mix dress with ribbon-tie straps, a relaxed shirt and shorts combo, a wrap skort and a baseball cap. And here’s one for parents to steal: a zebra-print tote bag that’s bound to be a firm family favourite for upcoming holidays.</p>
</div>
   <!-- DP Text section ends here -->
   
   

       <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:4b9ffb30-74b7-4a42-a6a7-3c9aeb260490/as/hm-magazine-imagination-4.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">Van Mierlo’s three young daughters are certainly excited to get their hands on the collection, having been lending their feedback to samples along the way. One of Van Mierlo’s favourite items is printed with a new pattern he created for the project.  “I really like the bandana, because it’s something very different for me,” he says. How does he want people to feel when they wear these pieces? “Well, it would be great if people could just ‘feel’ and not think too much. Happy, moody, ecstatic, calm – all are good to experience.” He laughs. “Note to self!”</p>
    <p class="hm-magazine-description-dp"><i>The Rop van Mierlo x H&M kidswear collection will launch in stores and online at hm.com from 4th April.</i></p>
</div>
   <!-- DP Text section ends here -->

</div>
<!-- DP Container block ends  -->
  </div>
</body>

</html>
