<!DOCTYPE html>
<html lang="ar">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>H&M Magazine Main</title>
  <link rel="stylesheet" href="/fragments/magazine-pages/magazine-style.css">
</head>

<body>
  <div class="hm-magazine-wrap">
   
    <!-- image text block starts  -->
<a class="hm-magazine-link-hold" href="/ar/magazine/hm-studio-capsule">
    <!-- Date section starts here -->
  <div class="hm-magazine-date-hold">
   <p class="date-p">14 نوفمبر 2024</p>
  </div>
  <!-- Date section ends here -->
  <!-- col-1 Image section starts here -->
  <div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:eeacd119-4a41-4d81-af0e-4aac026cc353/as/w51-magazine-kwt-2-1.png?preferwebp=true&width=2000&format=jpg" alt="hm-magazine">
   </div>
  <!-- col-1 Image section ends here -->
  <!-- Text section starts here -->
  <div class="hm-magazine-text-hold">
   <p class="hm-magazine-preample">عالم اتش آند ام</p>
   <h1 class="hm-magazine-h1">تشكيلة اتش آند ام استوديو المصغرة</h1>
   <p class="hm-magazine-description">تشكيلة من أزياء الأمسيات مُصممة في ورشتنا في ستوكهولم.</p>
   <div class="hm-magazine-cta-arrow">اقرأ المقال</div>
  </div>
  <!-- Text section ends here -->
  </a>
  <!-- image text block ends  -->
  
    
  <!-- image text block starts  -->
  <a class="hm-magazine-link-hold" href="/ar/magazine/w-2024">
      <!-- Date section starts here -->
    <div class="hm-magazine-date-hold">
     <p class="date-p">19 سبتمبر 2024</p>
    </div>
    <!-- Date section ends here -->
    <!-- col-1 Image section starts here -->
    <div class="hm-magazine-col-1-img-hold">
        <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:801a5fc8-ca41-45e9-9bdb-0333e6511d23/as/w51-magazine-kwt-1.png?preferwebp=true&width=2000&format=jpg" alt="hm-magazine">
       </div>
    <!-- col-1 Image section ends here -->
    <!-- Text section starts here -->
    <div class="hm-magazine-text-hold">
     <p class="hm-magazine-preample">عالم اتش آند ام</p>
     <h1 class="hm-magazine-h1">تصاميم موسم شتاء وخريف 2024 من تشكيلة اتش آند ام ستوديو</h1>
     <p class="hm-magazine-description">تقدّم لكم هذه التشكيلة تصاميم ملابس تلائم موسم الشتاء والخريف، وتتميز بطابعها العملي المفعم بلمسات من التميز والتفرُّد، نقدّمها بتوقيع فريق التصميم الداخلي لدى اتش آند ام.</p>
     <div class="hm-magazine-cta-arrow">اقرأ المقال</div>
    </div>
    <!-- Text section ends here -->
    </a>
    <!-- image text block ends  -->
  
<!-- image text block starts  -->
<a class="hm-magazine-link-hold" href="/ar/magazine/reebok-x-hm-rooted-sports">
  <!-- Date section starts here -->
<div class="hm-magazine-date-hold">
 <p class="date-p">29 أغسطس 2024</p>
</div>
<!-- Date section ends here -->
<!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
 <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:7ed67b7e-c2ef-4611-99e2-1e68b1234549/as/w48-hm-magazine-main-01.jpg?preferwebp=true&width=2000&format=jpg" alt="hm-magazine">
</div>
<!-- col-1 Image section ends here -->
<!-- Text section starts here -->
<div class="hm-magazine-text-hold">
 <p class="hm-magazine-preample">عالم اتش آند ام</p>
 <h1 class="hm-magazine-h1">تشكيلة ريبوك × اتش آند ام: أصالة الرياضة</h1>
 <p class="hm-magazine-description">نقدم لكم التشكيلة التعاونية الجديدة ريبوك × اتش آند ام للأطفال.</p>
 <div class="hm-magazine-cta-arrow">اقرأ المقال</div>
</div>
<!-- Text section ends here -->
</a>
<!-- image text block ends  -->




<!-- image text block starts  -->
<a class="hm-magazine-link-hold" href="/ar/magazine/hm-presents-new-season-arrivals">
  <!-- Date section starts here -->
<div class="hm-magazine-date-hold">
 <p class="date-p">11 يوليو 2024</p>
</div>
<!-- Date section ends here -->

<!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
 <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:8d4f5022-3571-45b0-85cc-5a885b77f5bd/as/w48-hm-magazine-main-02.jpg?preferwebp=true&width=2000&format=jpg" alt="hm-magazine">
</div>
<!-- col-1 Image section ends here -->
<!-- Text section starts here -->
<div class="hm-magazine-text-hold">
 <p class="hm-magazine-preample">عالم اتش آند ام</p>
 <h1 class="hm-magazine-h1">تقدم اتش آند ام تشكيلة الموسم الجديد</h1>
 <p class="hm-magazine-description">تعرفوا على كيفية تنسيق خزانة ملابس أنيقة للموسم الجديد مع جميع التصاميم الأساسية.</p>
 <div class="hm-magazine-cta-arrow">اقرأ المقال</div>
</div>
<!-- Text section ends here -->
</a>
<!-- image text block ends  -->


<!-- image text block starts  -->
<a class="hm-magazine-link-hold" href="/ar/magazine/time-preschool">
  <!-- Date section starts here -->
<div class="hm-magazine-date-hold">
 <p class="date-p">11 يوليو 2024</p>
</div>
<!-- Date section ends here -->

<!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
 <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:0dc53ef0-1115-4081-b8aa-7b1fae487de2/as/w48-hm-magazine-main-03.jpg?preferwebp=true&width=2000&format=jpg" alt="hm-magazine">
</div>
<!-- col-1 Image section ends here -->
<!-- Text section starts here -->
<div class="hm-magazine-text-hold">
 <p class="hm-magazine-preample">عالم اتش آند ام</p>
 <h1 class="hm-magazine-h1">حان الوقت ليدخل طفلك الحضانة</h1>
 <p class="hm-magazine-description">نقدم لك تشكيلات رائعة تساعدك في اختيار ما يناسب طفلك الصغير أو الرضيع.</p>
 <div class="hm-magazine-cta-arrow">اقرأ المقال</div>
</div>
<!-- Text section ends here -->
</a>
<!-- image text block ends  -->


<!-- image text block starts  -->
<a class="hm-magazine-link-hold" href="/ar/magazine/bring-summer">
  <!-- Date section starts here -->
<div class="hm-magazine-date-hold">
 <p class="date-p">25 أبريل 2024</p>
</div>
<!-- Date section ends here -->

<!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
 <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:6b36c906-dd52-4483-802c-d03cd915a254/as/w48-hm-magazine-main-04.jpg?preferwebp=true&width=2000&format=jpg" alt="hm-magazine">
</div>
<!-- col-1 Image section ends here -->
<!-- Text section starts here -->
<div class="hm-magazine-text-hold">
 <p class="hm-magazine-preample">عالم اتش آند ام</p>
 <h1 class="hm-magazine-h1">إنه موسم الصيف</h1>
 <p class="hm-magazine-description">استعدوا معنا لاستقبال موسم الصيف مع تصاميم مريحة، وملابس سباحة، وأساسيات عصرية تلائم جميع المناسبات وتلبي احتياجات أطفالكم بمختلف الأعمار.</p>
 <div class="hm-magazine-cta-arrow">اقرأ المقال</div>
</div>
<!-- Text section ends here -->
</a>
<!-- image text block ends  -->


<!-- image text block starts  -->
<a class="hm-magazine-link-hold" href="/ar/magazine/hm-move-and-women-win-team-promote-gender-equity-through-sports">
  <!-- Date section starts here -->
<div class="hm-magazine-date-hold">
 <p class="date-p">04 أبريل 2024</p>
</div>
<!-- Date section ends here -->

<!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
 <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:a53a9c1b-5783-464b-ba5a-d7ab021cd413/as/w48-hm-magazine-main-05.jpg?preferwebp=true&width=2000&format=jpg" alt="hm-magazine">
</div>
<!-- col-1 Image section ends here -->
<!-- Text section starts here -->
<div class="hm-magazine-text-hold">
 <p class="hm-magazine-preample">عالم اتش آند ام</p>
 <h1 class="hm-magazine-h1">فريق "اتش آند ام موف" و" وومن وين" يجتمعان معاً لتعزيز المساواة بين الجنسين من خلال الرياضة</h1>
 <p class="hm-magazine-description">أطلقت اتش آند ام موف للملابس الرياضية ومنظمة وومن وين غير الربحية شراكة لتعزيز تمكين الفتيات والنساء من خلال الرياضة، مع التركيز بشكل خاص على كرة القدم. من خلال هذه الشراكة التي تستمر لمدة عامين، تدعم اتش آند ام موف صندوق أون سايد التابع لمنظمة وومن وين الذي يركز على المنظمات المحلية لمعالجة عدم المساواة من خلال الرياضة.</p>
 <div class="hm-magazine-cta-arrow">اقرأ المقال</div>
</div>
<!-- Text section ends here -->
</a>
<!-- image text block ends  -->



<!-- image text block starts  -->
<a class="hm-magazine-link-hold" href="/ar/magazine/let-your-imagination-run-free-rop-van-mierlo-x-hm">
  <!-- Date section starts here -->
<div class="hm-magazine-date-hold">
 <p class="date-p">28 مارس 2024</p>
</div>
<!-- Date section ends here -->

<!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
 <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:b5f58148-a0e0-413e-996c-c9c57b8525d0/as/w48-hm-magazine-main-06.jpg?preferwebp=true&width=2000&format=jpg" alt="hm-magazine">
</div>
<!-- col-1 Image section ends here -->
<!-- Text section starts here -->
<div class="hm-magazine-text-hold">
 <p class="hm-magazine-preample">عالم اتش آند ام</p>
 <h1 class="hm-magazine-h1">أطلق العنان لمخيلتك مع تشكيلة روب فان ميرلو × إتش آند إم</h1>
 <p class="hm-magazine-description">هذا الموسم، تتعاون إتش آند إم مع الفنان الهولندي روب فان ميرلو في تشكيلة جديدة مرحة مليئة برسومات الحيوانات للأطفال والرضع.</p>
 <div class="hm-magazine-cta-arrow">اقرأ المقال</div>
</div>
<!-- Text section ends here -->
</a>
<!-- image text block ends  -->

  </div>
</body>

</html>
