<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>H&M Magazine Move and Women</title>
  <link rel="stylesheet" href="/fragments/magazine-pages/magazine-style.css">
</head>

<body>
  <div class="hm-magazine-wrap hm-magazine-wrap-dp">
<!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
<img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:a53a9c1b-5783-464b-ba5a-d7ab021cd413/as/w48-hm-magazine-main-05.jpg?preferwebp=true&width=2000&format=jpg" alt="hm-magazine">
</div>
<!-- col-1 Image section ends here -->
<!-- Text section starts here -->
<div class="hm-magazine-text-hold">
 <p class="hm-magazine-preample">INSIDE H&M</p>
 <h1 class="hm-magazine-h1">H&M Move and Women Win team up to promote gender equity through sports</h1>
 <p class="hm-magazine-description">Activewear brand H&M Move and the non-profit Women Win have entered a partnership to promote girls’ and women’s empowerment through sport, with a special focus on football. With this 2-year partnership H&M Move supports Women Win’s ONSIDE Fund focusing on hyperlocal organisations to tackle inequalities through movement.</p>
 <p class="date-p">04 April 2024</p>
</div>
<!-- Text section ends here -->
<!-- image text block ends  -->

<!-- DP Container block starts  -->
<div class="hm-magazine-dp-block-container">
<!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">H&M Move’s community program Move Together supports young people by helping them to overcome barriers and find a sense of belonging where they can thrive and move together. The local organisations involved in this partnership are based in Colombia, Costa Rica, Guatemala, Jordan, Mexico, South Africa, and UK. They all share a common goal and use football as a main tool to drive positive change, together with for example developing leadership skills, building self-confidence, and providing psychosocial support and health education.</p>
</div>
   <!-- DP Text section ends here -->

    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:f7fc8f30-b04c-4eaa-9d78-90b2f2fc0db1/as/hm-magazine-movenwomen-2.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->
    <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp"><i>“Solving gender equity is no small feat, but we believe in a future where every girl and woman can exercise their rights. For Women Win and the ONSIDE Fund, collaboration is our main vehicle to create change. By teaming up with H&M Move we can further strengthen the playing field for girls and break down traditional gender stereotypes associated with sports”</i></p>
    <h2 class="hm-magazine-h2 text-right">says Nicole Matuska, GRLS director at Women Win.</h2>
    <p class="hm-magazine-description-dp">During March – as part of International Women’s Month – the group of trailblazing women representing the seven organisations came together in a digital, yet intimate meeting to share experiences and to get inspired by each other and by Nadia Nadim, professional football player and H&M Move's Brand Mover.</p>
    <p class="hm-magazine-description-dp"><i>“I started playing football in a refugee camp in Denmark. Once on the field, I felt happy, I felt free, powerful, confident and I felt accepted. I’m happy to be part of this collaboration and I truly hope that my drive can inspire young girls to chase their own dreams – wherever they live and however they move,”</i></p>
    <h2 class="hm-magazine-h2 text-right">says Nadia Nadim.</h2>
</div>
   <!-- DP Text section ends here -->
    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:3da17c99-4ac9-4abf-a87d-5b04590c111e/as/hm-magazine-movenwomen-3.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp"><i>“Movement and sport have the power to create connections and collective energy to push boundaries – physical as well as mental and social. We are extremely impressed by the work performed by Women Win and these amazing local organisations contributing to girls and young women becoming change makers in their own lives as well as in their communities.”</i></p>
    <h2 class="hm-magazine-h2 text-right">says Diana Amini, Head of Move Together Program.</h2>
</div>
   <!-- DP Text section ends here -->

   <!-- col-1 youtubevideo section starts here -->
   <div class="hm-magazine-col-1-img-hold">
    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/xWJMirFcW2c?si=mNUsEb5MZZCBrxp5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
 <!-- col-1 youtubevideo section Ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">
        H&M Move supports Women Win’s ONSIDE fund focusing on the following hyperlocal organisations:<br>
COLOMBIA: Colectivo Femenino FUNDAR – LA PELOTA DE TRAPO<br>
COSTA RICA: Fundación GOLEES<br>
GUATEMALA: Jóvenes por el Cambio<br>
JORDAN: Karak Castle Center for Consultations and Training<br>
MEXICO: Komon tajkoltajbatik. A. C.<br>
SOUTH AFRICA: ActivateHer<br>
UK: Camden & Islington United
    </p>
</div>
   <!-- DP Text section ends here -->
   
</div>
<!-- DP Container block ends  -->
  </div>
</body>

</html>
