<!DOCTYPE html>
<html lang="ar">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>H&M Magazine Move and Women</title>
  <link rel="stylesheet" href="/fragments/magazine-pages/magazine-style.css">
</head>

<body>
  <div class="hm-magazine-wrap hm-magazine-wrap-dp">
<!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
<img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:a53a9c1b-5783-464b-ba5a-d7ab021cd413/as/w48-hm-magazine-main-05.jpg?preferwebp=true&width=2000&format=jpg" alt="hm-magazine">
</div>
<!-- col-1 Image section ends here -->
<!-- Text section starts here -->
<div class="hm-magazine-text-hold">
 <p class="hm-magazine-preample">عالم اتش آند ام</p>
 <h1 class="hm-magazine-h1">فريق "اتش آند ام موف" و" وومن وين" يجتمعان معاً لتعزيز المساواة بين الجنسين من خلال الرياضة</h1>
 <p class="hm-magazine-description">أطلقت اتش آند ام موف للملابس الرياضية ومنظمة وومن وين غير الربحية شراكة لتعزيز تمكين الفتيات والنساء من خلال الرياضة، مع التركيز بشكل خاص على كرة القدم. من خلال هذه الشراكة التي تستمر لمدة عامين، تدعم اتش آند ام موف صندوق أون سايد التابع لمنظمة وومن وين الذي يركز على المنظمات المحلية لمعالجة عدم المساواة من خلال الرياضة.</p>
 <p class="date-p">04 أبريل 2024</p>
</div>
<!-- Text section ends here -->
<!-- image text block ends  -->

<!-- DP Container block starts  -->
<div class="hm-magazine-dp-block-container">
<!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">يدعم البرنامج المجتمعي "موف توغيذر" التابع لاتش آند ام موف الشباب من خلال مساعدتهم على تخطي الحواجز وإيجاد شعور بالانتماء حيث يمكنهم الازدهار والتحرك معاً. تقع المنظمات المحلية المشاركة في هذه الشراكة في كل من كولومبيا وكوستاريكا وغواتيمالا والأردن والمكسيك وجنوب أفريقيا والمملكة المتحدة. وتشترك جميعها في هدف مشترك وتستخدم كرة القدم كأداة رئيسية لإحداث تغيير إيجابي، إلى جانب تطوير مهارات القيادة وبناء الثقة بالنفس وتوفير الدعم النفسي والاجتماعي والتوعية الصحية على سبيل المثال.</p>
</div>
   <!-- DP Text section ends here -->

    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:f7fc8f30-b04c-4eaa-9d78-90b2f2fc0db1/as/hm-magazine-movenwomen-2.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->
    <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp"><i>تقول نيكول ماتوسكا، مديرة برنامج "GRLS" في منظمة وومن وين: "إن حل مشكلة المساواة بين الجنسين ليس بالأمر السهل، ولكننا نؤمن بمستقبل تستطيع فيه كل فتاة وامرأة ممارسة حقوقها بشكل كامل. بالنسبة لمنظمة وومن وين وصندوق أونسايد، التعاون هو وسيلتنا الرئيسية لإحداث التغيير في مجتمعاتنا. ومن خلال التعاون مع اتش آند ام موف، يمكننا تعزيز فرص الفتيات في اللعب وكسر الصورة النمطية التقليدية المرتبطة بالرياضة"</i></p>
    <!-- <h2 class="hm-magazine-h2 text-right">says Nicole Matuska, GRLS director at Women Win.</h2> -->
    <p class="hm-magazine-description-dp">خلال شهر مارس - وكجزء من الشهر العالمي للاحتفال بالمرأة - اجتمعت مجموعة النساء الرائدات اللاتي يمثلن المنظمات السبع في اجتماع رقمي لتبادل الخبرات واستلهام الأفكار من بعضهن البعض ومن نادية نديم، لاعبة كرة القدم المحترفة والوجه الإعلامي لاتش آند ام موف.</p>
    <p class="hm-magazine-description-dp"><i>وتضيف نادية نديم: "بدأت لعب كرة القدم في مخيم للاجئين في الدنمارك. وبمجرد دخولي إلى الملعب، شعرت بالسعادة، وشعرت بالحرية والقوة والثقة وشعرت بالقبول. يسعدني أن أكون جزءاً من هذا التعاون، وآمل حقًا أن يلهم شغفي الفتيات الصغيرات للسعي وراء أحلامهن - أينما كنّ وأينما اتجهن"</i></p>
    <!-- <h2 class="hm-magazine-h2 text-right">says Nadia Nadim.</h2> -->
</div>
   <!-- DP Text section ends here -->
    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:3da17c99-4ac9-4abf-a87d-5b04590c111e/as/hm-magazine-movenwomen-3.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp"><i>أعربت السيدة ديانا أميني، رئيسة برنامج "موف توغيذر"، عن إعجابها الشديد بالجهود التي تقوم بها منظمة وومن وين والهيئات المحلية المذهلة وقالت: "تتمتع الحركة والرياضة بالقدرة على خلق الروابط والطاقة لتخطي العقبات الجسدية والذهنية والاجتماعية. نحن معجبون للغاية بالعمل الذي تقوم به منظمة وومن وين والمنظمات المحلية الرائعة التي تساهم في أن تصبح الفتيات والشابات صانعات للتغيير في حياتهن وكذلك في مجتمعاتهن."</i></p>
    <!-- <h2 class="hm-magazine-h2 text-right">says Diana Amini, Head of Move Together Program.</h2> -->
</div>
   <!-- DP Text section ends here -->

   <!-- col-1 youtubevideo section starts here -->
   <div class="hm-magazine-col-1-img-hold">
    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/xWJMirFcW2c?si=mNUsEb5MZZCBrxp5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
 <!-- col-1 youtubevideo section Ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">
        تدعم اتش آند ام موف صندوق أونسايد التابع لمنظمة وومن وين الذي يركز على المنظمات المحلية التالية:<br>
        كولومبيا: Colectivo Femenino FUNDAR – LA PELOTA DE TRAPO<br>
        كوستاريكا: Fundación GOLEES<br>
        غواتيمالا: Jóvenes por el Cambio<br>
        الأردن: مركز قلعة الكرك للاستشارات والتدريب<br>
        المكسيك: Komon tajkoltajbatik. A. C.<br>
        جنوب أفريقيا: ActivateHer<br>
        المملكة المتحدة: Camden و Islington United
    </p>
</div>
   <!-- DP Text section ends here -->
   
</div>
<!-- DP Container block ends  -->
  </div>
</body>

</html>
