<!DOCTYPE html>
<html lang="ar">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>H&M Magazine Music Sensation</title>
  <link rel="stylesheet" href="/fragments/magazine-pages/magazine-style.css">
</head>

<body>
  <div class="hm-magazine-wrap hm-magazine-wrap-dp">
   
<!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
<img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:e2cc8411-a133-4e2f-9818-2bd35e5516d6/as/w48-hm-magazine-main-09.jpg?preferwebp=true&width=2000&format=jpg" alt="hm-magazine">
</div>
<!-- col-1 Image section ends here -->
<!-- Text section starts here -->
<div class="hm-magazine-text-hold">
 <p class="hm-magazine-preample">عالم اتش آند ام</p>
 <h1 class="hm-magazine-h1">الفنانة راي تخطف الأضواء من خلال تصدرها حملة اتش آند ام موف الجديدة</h1>
 <p class="hm-magazine-description">من المقرر أن تصدر أحدث مجموعة ملابس من تشكيلة اتش آند ام موف لأول مرة عالمياً في 11 يناير، حيث تكشف عن الشراكة الحصرية مع المغنية الاستثنائية راي والأسطورة الرياضية زلاتان إبراهيموفيتش.</p>
 <p class="date-p">04 يناير 2024</p>
</div>
<!-- Text section ends here -->
<!-- image text block ends  -->

<!-- DP Container block starts  -->
<div class="hm-magazine-dp-block-container">
<!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">تتألق المغنية وكاتبة الأغاني البريطانية راي كواحدة من ألمع النجوم في المجال الموسيقي اليوم، حيث تضم سبعة من أفضل 20 أغنية فردية، و33 مليون مستمع شهرياً على سبوتيفاي، وحائزة على جائزة إيفور نوفيلو، وترشيحات متعددة لجوائز بريت، ولها أيضاً سجل حافل من كتابة الأغاني لأكبر الموسيقيين والفنانين. تم إصدار ألبومها الاستوديو الأول كفنانة مستقلة، "My 21st Century Blues"، في أوائل عام 2023 ويضم الأغنية المنفردة التي تتصدر قائمة الأغاني في المملكة المتحدة "Escapism"، والتي حصلت على 2x بلاتينيوم في المملكة المتحدة، وRIAA Platinum في الولايات المتحدة وفي عشرة مناطق أخرى مع تسجيل 1.05 مليار كعدد مرات استماع على التطبيقات حتى الآن.</p>
<p class="hm-magazine-description-dp">في شهر يناير من هذا العام، ستتعاون راي مع لتش آند ام موف لتقديم تشكيلة الموسم الجديدة، التي تربط بين عالمي الرياضة والموضة بسلاسة من خلال قوة الموسيقى، وتتوافق شراكتها مع اتش آند ام موف بشكل مثالي مع مهمة العلامة التجارية المتمثلة في تحفيز العالم كله. </p>
</div>
   <!-- DP Text section ends here -->

    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:ec9dc55e-a6a1-490f-8161-d297d53f75c2/as/hm-magazine-music-sensation-1.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->
    <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp"><i>تقول راي: "عندما تواصلت اتش آند ام موف بشأن هذه الشراكة، شعرت بالبهجة والفخر، وفكرت في مدى أهمية الحركة في حياتي، وكيف يحتاج الجميع إلى تلك الإندورفين والثقة الجسدية، فإنه أمر يشجعك على امتلاك الطريقة التي تتحرك بها،"</i></p>
    <p class="hm-magazine-description-dp"><i>تأخذ النجمة تمارين الإحماء التي تقوم بها إلى المستوى التالي، حيث تتمرن وتتحرك على أنغام أغنيتها الناجحة "Escapism"، وهي ترتدي أحدث ملابس تشكيلة موف. تم تصميم هذه الملابس بجرأة مع تفاصيل مقصوصة وجذابة لتعزيز منحنيات جسمك، وتأتي مصنوعة من قماش باستخدام تقنية دراي موف™ الماص للرطوبة من اتش آند ام موف، ونسيج شيب موف™ الداعم للغاية، كما أنها تتميز بأناقة فريدة تتماشى مع جماليات موضة المغنية راي الشهيرة.</i></p>
    <!-- <h2 class="hm-magazine-h2 text-right">says RAYE.</h2> -->
    <p class="hm-magazine-description-dp">وأضافت راي: "أعتقد أن الحركة هي للجميع، فهي دواء، مثل الموسيقى تماماً، وهذا ما أفعله؛ أقوم بتشغيل الموسيقى الخاصة بي، وأدخل إلى مكاني الخاص والآمن، وأتحرك بكل حرية وانسيابية،"</p>
   
</div>
   <!-- DP Text section ends here -->
    <!-- col-1 youtubevideo section starts here -->
    <div class="hm-magazine-col-1-img-hold">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/Inr5FPI5MFU?si=oHavrTNQ6wQLECQX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     </div>
   <!-- col-1 youtubevideo section Ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
   <p class="hm-magazine-description-dp">للاحتفال بالتشكيلة الجديدة والتعاون في هذه الحملة، وجهت اتش آند ام موف دعوات حصرية لعدد مختار من الضيوف لحضور عرض حي للمغنية راي في لندن يوم 24 يناير، حيث ستبهر الجميع في هذه المناسبة الخاصة، وستغني أغانيها التي تصدرت قائمة الأغاني. تابعنا للحصول على المزيد من التفاصيل.</p>
   <p class="hm-magazine-description-dp"><i>وعبّر هنريك كرون، المدير العام الحالي لاتش آند ام موف، عن شعوره حول هذه الشراكة: "يسعدني أن اتش آند ام موف يمكنها أن تلهم الناس في جميع أنحاء العالم بطرق تفاعلية من خلال الشراكات مع فنانين رائدين عالمياً مثل راي. ترتبط الموسيقى ارتباطاً وثيقاً بالحركة؛ كيفما تحركت، وهذا يظهر بشكل جميل في هذه الحملة."</i></p>
   <!-- <h2 class="hm-magazine-h2 text-right">says Henrik Kroon, newly appointed General Manager at H&M Move.</h2> -->
   <p class="">ستكون مجموعة ملابس تشكيلة موف الجديدة متاحة في المحل وعلى<a href="/ar/shop-sport/">hm.com/move</a>في 11 يناير. </p>
</div>
   <!-- DP Text section ends here -->

      
</div>
<!-- DP Container block ends  -->
  </div>
</body>

</html>
