<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>H&M Magazine Music Sensation</title>
  <link rel="stylesheet" href="/fragments/magazine-pages/magazine-style.css">
</head>

<body>
  <div class="hm-magazine-wrap hm-magazine-wrap-dp">
   
<!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
<img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:e2cc8411-a133-4e2f-9818-2bd35e5516d6/as/w48-hm-magazine-main-09.jpg?preferwebp=true&width=2000&format=jpg" alt="hm-magazine">
</div>
<!-- col-1 Image section ends here -->
<!-- Text section starts here -->
<div class="hm-magazine-text-hold">
 <p class="hm-magazine-preample">INSIDE H&M</p>
 <h1 class="hm-magazine-h1">Music sensation RAYE takes centre stage in new H&M Move campaign</h1>
 <p class="hm-magazine-description">H&M Move’s latest movewear collection is set to make its global debut on 11 January. This launch marks the unveiling of an exclusive partnership with powerhouse musician RAYE, who’ll be sharing the spotlight with sports legend Zlatan Ibrahimović.</p>
 <p class="date-p">04 January 2024</p>
</div>
<!-- Text section ends here -->
<!-- image text block ends  -->

<!-- DP Container block starts  -->
<div class="hm-magazine-dp-block-container">
<!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">British singer-songwriter RAYE shines as one of the brightest stars in today’s music scene, boasting seven top 20 singles, 33 million monthly listeners on Spotify, an Ivor Novello Award, multiple Brit Award nominations and a track record of writing for the industry’s biggest names. Her debut studio album as an independent artist, ‘My 21st Century Blues’, came out in early 2023 and features the UK chart-topping single ‘Escapism’ which is 2 x platinum in the UK, RIAA Platinum in the US and ten other territories, with 1.05 billion cumulative streams clocked to date.</p>
<p class="hm-magazine-description-dp">This January, RAYE will be joining forces with H&M Move to introduce the new-season collection, seamlessly bridging the worlds of sports and fashion through the power of music. Her partnership with H&M Move perfectly aligns with the brand’s mission, to get the whole world and everybody moving.</p>
</div>
   <!-- DP Text section ends here -->

    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:ec9dc55e-a6a1-490f-8161-d297d53f75c2/as/hm-magazine-music-sensation-1.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->
    <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp"><i>“When H&M Move reached out about this partnership, I felt excited, honoured and moved. I thought about how important movement has been in my life, and how everybody needs those endorphins and that physical confidence. It’s empowering to own the way you move,”</i></p>
    <p class="hm-magazine-description-dp"><i>“I really believe that movement is for everyone. It’s about your unique journey and how you move forward in life, both mentally and physically. Being confident in who you are and in your own skin takes time, but through movement it's possible,”</i></p>
    <h2 class="hm-magazine-h2 text-right">says RAYE.</h2>
    <p class="hm-magazine-description-dp">In the campaign, the star takes her pre-performance warm-up to the next level, working out and dancing to an instrumental version of her hit ‘Escapism’, all while dressed in the latest movewear. Boldly designed with body-enhancing cutlines and crafted from fabric with H&M Move’s moisture-wicking DryMove™ and extra-supportive ShapeMove™ technologies, the movewear is further elevated by a vibrant glamorous look aligned with RAYE’s renowned fashion aesthetics.</p>
    <p class="hm-magazine-description-dp"><i>“I really believe that movement is for everyone. Movement is medicine, the same way music is, and that's what I do. I put my music on, get in a safe space, and just let myself be free and move,”</i></p>
</div>
   <!-- DP Text section ends here -->
    <!-- col-1 youtubevideo section starts here -->
    <div class="hm-magazine-col-1-img-hold">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/Inr5FPI5MFU?si=oHavrTNQ6wQLECQX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     </div>
   <!-- col-1 youtubevideo section Ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
   <p class="hm-magazine-description-dp">To celebrate the new collection and campaign collab, H&M Move has extended exclusive invitations to a select number of guests to attend a live performance by RAYE in London on 24 January. During this very special occasion, the music luminary will enchant the audience with some of her chart-topping hits. Stay tuned for more details.</p>
   <p class="hm-magazine-description-dp"><i>“I’m delighted that H&M Move can inspire people around the globe in engaging ways through partnerships with world-leading artists like RAYE. Music is deeply connected with movement; however you move, and that comes through beautifully in this campaign,”</i></p>
   <h2 class="hm-magazine-h2 text-right">says Henrik Kroon, newly appointed General Manager at H&M Move.</h2>
   <p class="">The new movewear collection will be available in-store and at <a href="/en/shop-sport/">hm.com/move</a> 11 January.</p>
</div>
   <!-- DP Text section ends here -->

      
</div>
<!-- DP Container block ends  -->
  </div>
</body>

</html>
