<!DOCTYPE html>
<html lang="ar">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>H&M Magazine New Arrivals</title>
  <link rel="stylesheet" href="/fragments/magazine-pages/magazine-style.css">
</head>

<body>
  <div class="hm-magazine-wrap hm-magazine-wrap-dp">
   
<!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
<img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:8d4f5022-3571-45b0-85cc-5a885b77f5bd/as/w48-hm-magazine-main-02.jpg?preferwebp=true&width=2000&format=jpg" alt="hm-magazine">
</div>
<!-- col-1 Image section ends here -->
<!-- Text section starts here -->
<div class="hm-magazine-text-hold">
 <p class="hm-magazine-preample">عالم اتش آند ام</p>
 <h1 class="hm-magazine-h1">تقدم اتش آند ام تشكيلة الموسم الجديد</h1>
 <p class="hm-magazine-description">تعرفوا على كيفية تنسيق خزانة ملابس أنيقة للموسم الجديد مع جميع التصاميم الأساسية.</p>
 <p class="date-p">11 يوليو 2024</p>
</div>
<!-- Text section ends here -->
<!-- image text block ends  -->

<!-- DP Container block starts  -->
<div class="hm-magazine-dp-block-container">
<!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">تقدم اتش آند ام تشكيلة الموسم الجديد التي تستلهم أسلوبها من أزياء الأطفال الأيقونية. تضم التشكيلة تصاميم تتسم بالبساطة والمرح مع قطع أساسية راقية وأنيقة. تشمل القطع جاكيت وفستان من الجلد الصناعي، وجاكيتات مستوحاة من ملابس العمل، ومعاطف ترنش قصيرة وتي-شيرتات الرغبي وقمصان الدنيم العصرية بألوان الأبيض والأسود والرمادي والبيج مع لمسات من الأحمر والأزرق الفاتح.</p>
    <p class="hm-magazine-description-dp">تقول صوفيا لوفستيدت، رئيسة قسم تصميم ملابس الأطفال لدى اتش آند ام: "هناك بساطة ممتعة في تشكيلة الموسم الجديد - فهي مزيج من القطع الأساسية الكلاسيكية مع تفاصيل مرحة مثل الفيونكات والطبعات المنقطة وبعض اللمسات العملية والقصّات الواسعة". وأضافت أيضاً: " أما بالنسبة للأزياء الأنيقة فتأتي على شكل تصاميم الرغبي والبولو، وقمصان البوبلين والتنانير القصيرة مع الجوارب وأحذية اللوفر. التنسيق المناسب هو سر نجاح هذه التشكيلة التي تحتوي على كافة التصاميم التي تسهل تنسيق القطع قدر الإمكان." </p>
</div>
   <!-- DP Text section ends here -->

    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:8a8d19b3-bf25-472e-8258-a10db888bdf3/as/w48-hm-magazine-new-arrival-02.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->
    <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">يتميز الفستان الأسود القصير المصنوع من الجلد الصناعي بتصميم بسيط يمكن ارتداؤه بشكل رسمي أو غير رسمي. يمكن تنسيقه مع بلوزة بياقة مع عقدة من الأسفل لإضفاء لمسة من الرقي على الإطلالة، كما يمكن ارتداؤه مع هودي لجعل الإطلالة كاجوال وغير رسمية. وننصحك باختيار قميص أبيض بسيط لتنسيقه مع التنورة القصيرة بقصّة A والجاكيت المطابق من الدنيم الداكن واللامع. ولإطلالة أخرى أكثر كلاسيكية، يمكن ارتداء قميص أزرق بأكمام بالون مع تفاصيل فيونكات أنيقة مع جينز واسع، أو تنورة رمادية قصيرة ذات طيات مخططة وقميص أزرق فاتح وكنزة باللون الأحمر الساطع لإبراز اللون. تُنسق أياً من الإطلالتين مع معاطف الترنش القصيرة. </p>
    <p class="hm-magazine-description-dp">قدمت لوفستيدت نصائح أخرى للتنسيق وأضافت: "يكمن سر ارتداء طبقات متعددة من الملابس في الأزياء الأساسية الراقية مثل قمصان التيري والأزياء المحبوكة بنعومة. فهي خفيفة الوزن وتضيف رونقاً جمالياً. اختاري الياقات البارزة أو القمصان ذات الحواف الطويلة تحت السويت شيرت. إذا بدأت درجات الحرارة في الانخفاض، فإن ارتداء عدة طبقات له مزايا عملية للغاية."</p>
</div>
   <!-- DP Text section ends here -->
    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:18f7749a-b7cd-433d-83b5-0900b0b3ff0e/as/w48-hm-magazine-new-arrival-03.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">ستتوفر تشكيلة ملابس الأطفال للموسم الجديد من اتش آند ام في محلاتنا وأونلاين على الموقع hm.com ابتداءً من يوليو.</p>
</div>
   <!-- DP Text section ends here -->
   
   

</div>
<!-- DP Container block ends  -->
  </div>
</body>

</html>
