<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>H&M Magazine New Arrivals</title>
  <link rel="stylesheet" href="/fragments/magazine-pages/magazine-style.css">
</head>

<body>
  <div class="hm-magazine-wrap hm-magazine-wrap-dp">
   
<!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
<img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:8d4f5022-3571-45b0-85cc-5a885b77f5bd/as/w48-hm-magazine-main-02.jpg?preferwebp=true&width=2000&format=jpg" alt="hm-magazine">
</div>
<!-- col-1 Image section ends here -->
<!-- Text section starts here -->
<div class="hm-magazine-text-hold">
 <p class="hm-magazine-preample">INSIDE H&M</p>
 <h1 class="hm-magazine-h1">H&M presents new season arrivals</h1>
 <p class="hm-magazine-description">Find out how to build a new season wardrobe with all the essentials – and more.</p>
 <p class="date-p">11 July 2024</p>
</div>
<!-- Text section ends here -->
<!-- image text block ends  -->

<!-- DP Container block starts  -->
<div class="hm-magazine-dp-block-container">
<!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">Tapping into kids’ fashion moments, H&M presents the new season edit. The collection is defined by a playful minimalism with refined essentials and a preppy edge.  Pieces include a faux leather jacket and dress, workwear-inspired jackets, a short trench, rugby tops and denim in a colour palette of white, black, grey and beige with pops of red and sky blue.</p>
    <p class="hm-magazine-description-dp">“There’s a playful minimalism with the new season collection – a mix of classic essentials with details like bows, dot prints, workwear touches and flared legs,” says Sofia Löfstedt, Head of Kidswear Design at H&M. “The preppy side comes from rugby and polo styles, poplin shirts and styling miniskirts with socks and loafers. Layering is key and this collection has all the pieces to make it as easy as possible.”</p>
</div>
   <!-- DP Text section ends here -->

    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:8a8d19b3-bf25-472e-8258-a10db888bdf3/as/w48-hm-magazine-new-arrival-02.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->
    <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">For girls, the black faux leather shift dress has a simple silhouette that can be dressed up or down. A collared top with a bow underneath makes it sweet, while pairing it with a hoodie makes it casual. All-over monochrome dots add energy and playfulness to wide-leg trousers and a boxy sweatshirt. An A-line mini-skirt and matching jacket in eye-catching glitter dark denim calls for a simple white T-shirt underneath. And for more classic looks, a blue shirt with balloon sleeves and bow detail pairs with wide-leg jeans, or a grey pinstripe pleated mini-skirt, light blue shirt and bright red jumper for a pop of colour. Top either look with a short trench.</p>
    <p class="hm-magazine-description-dp">“The secret to layering lies in refined essentials like terry jersey and fine knits. They’re lightweight and add visual interest. Think collars peeking out or a longer hem T-shirt under a sweatshirt. If the temperatures start dipping, layering has practical advantages, too,” says Löfstedt.</p>
</div>
   <!-- DP Text section ends here -->
    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:18f7749a-b7cd-433d-83b5-0900b0b3ff0e/as/w48-hm-magazine-new-arrival-03.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">The H&M new season kidswear collection will be available in store and online at hm.com from July.</p>
</div>
   <!-- DP Text section ends here -->
   
   

</div>
<!-- DP Container block ends  -->
  </div>
</body>

</html>
