<!DOCTYPE html>
<html lang="ar">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>H&M Magazine Reebok</title>
  <link rel="stylesheet" href="/fragments/magazine-pages/magazine-style.css">
</head>

<body>
  <div class="hm-magazine-wrap hm-magazine-wrap-dp">
   
<!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
<img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:7ed67b7e-c2ef-4611-99e2-1e68b1234549/as/w48-hm-magazine-main-01.jpg?preferwebp=true&width=2000&format=jpg" alt="hm-magazine">
</div>
<!-- col-1 Image section ends here -->
<!-- Text section starts here -->
<div class="hm-magazine-text-hold">
 <p class="hm-magazine-preample">عالم اتش آند ام</p>
 <h1 class="hm-magazine-h1">تشكيلة ريبوك × اتش آند ام: أصالة الرياضة</h1>
 <p class="hm-magazine-description">نقدم لكم التشكيلة التعاونية الجديدة ريبوك × اتش آند ام للأطفال.</p>
 <p class="date-p">29 أغسطس 2024</p>
</div>
<!-- Text section ends here -->
<!-- image text block ends  -->

<!-- DP Container block starts  -->
<div class="hm-magazine-dp-block-container">
<!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">أعلنت كل من اتش آند ام وريبوك هذا الموسم عن إطلاق تشكيلة أزياء للأطفال مصممة بلمسات رياضية ونمط مدرسي. كما أنها مستوحاة من تصاميم ريبوك الأصيلة لأحذية الركض بنعل خارجي بارز الملمس والتي تميزت بها الماركة، حيث أن القطع مزينة بطبعة 'Eighteen Ninety-Five' تكريماً لإرثها العريق في عالم الرياضة.</p>
    <p class="hm-magazine-description-dp">تتربع علامة ريبوك في قلب الرياضة والثقافة منذ تأسيسها في عام 1958، حيث تبرز مكانة ريبوك كعلامة تجارية أيقونية وغير تقليدية في الثقافة الرياضية من خلال هذه التشكيلة التي تتضمن تصاميم الأزياء الرياضية المعاد ابتكارها.</p>
    <p class="hm-magazine-description-dp">تقول صوفيا لوفستيدت، رئيسة قسم التصميم والإبداع لأزياء الأطفال في اتش اند ام: "تم استلهام التصاميم من أرشيف ريبوك، مع التركيز على العديد من التفاصيل الدقيقة في هذا التعاون، مثل القبة بشكل V وياقة بولو الأنيقة المستوحاة من البلوزات الرياضية، بالإضافة إلى شريط الخصر المطاطي المزين بالشعار، وطبعات العبارات بنمط كلاسيكي. قمنا كذلك بإضفاء لمسات إبداعية على الأشكال ذات العناصر الهندسية التي تشتهر بها ماركة ريبوك."</p>
</div>
   <!-- DP Text section ends here -->

    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:c5b5a7f8-6794-4f47-b5f3-45621f842b7c/as/w48-hm-magazine-reebok-1.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->
    <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">تشمل التشكيلة جاكيتات، وأطقم متناسقة، وهوديات، بالإضافة إلى تي-شيرتات وتنانير بألوان الأحمر والأزرق الفاتح، مع الوردي والبني الفاتح والأخضر الداكن، ما يضفي على التصاميم بالنمط المدرسي لمسات من الأناقة العصرية.</p>
</div>
   <!-- DP Text section ends here -->
    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:fb409335-31f0-4978-a375-86de637adce6/as/w48-hm-magazine-reebok-2.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
   <a class="hm-magazine-description-dp" href="/ar/shop-reebok/">ستتوفر تشكيلة ريبوك × اتش اند ام لأزياء الأطفال في محلاتنا وأونلاين عبر موقعنا hm.com ابتداءً من 29 أغسطس.</a>
</div>
   <!-- DP Text section ends here -->
   
   

</div>
<!-- DP Container block ends  -->
  </div>
</body>

</html>
