<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>H&M Magazine Reebok</title>
  <link rel="stylesheet" href="/fragments/magazine-pages/magazine-style.css">
</head>

<body>
  <div class="hm-magazine-wrap hm-magazine-wrap-dp">
   
<!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
<img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:7ed67b7e-c2ef-4611-99e2-1e68b1234549/as/w48-hm-magazine-main-01.jpg?preferwebp=true&width=2000&format=jpg" alt="hm-magazine">
</div>
<!-- col-1 Image section ends here -->
<!-- Text section starts here -->
<div class="hm-magazine-text-hold">
 <p class="hm-magazine-preample">INSIDE H&M</p>
 <h1 class="hm-magazine-h1">Reebok x H&M: Rooted in Sports</h1>
 <p class="hm-magazine-description">Introducing the new Reebok x H&M kidswear collaboration.</p>
 <p class="date-p">29 August 2024</p>
</div>
<!-- Text section ends here -->
<!-- image text block ends  -->

<!-- DP Container block starts  -->
<div class="hm-magazine-dp-block-container">
<!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">This season, H&M and Reebok announce the launch of a kidswear collection with nods to campus sports. Drawing on Reebok’s early roots in spiked running shoes, the collection features an “Eighteen Ninety-Five” graphic print to honor the brand’s enduring legacy in sports.</p>
    <p class="hm-magazine-description-dp">At the centre of sport and culture since its founding in 1958, Reebok’s position as an iconic and irreverent sports culture brand is highlighted in the collection through reinvented sportwear styles.</p>
    <p class="hm-magazine-description-dp">“Taking design cues from the Reebok archives, there are many thoughtful details in this collaboration,” says Sofia Löfstedt, Head of Kidswear Design & Creative at H&M. “Like v-necks and preppy polo collars inspired by sport jerseys, elastic logo waistbands and retro-style text logos. We also played around with the iconic Reebok vector shapes.”</p>
</div>
   <!-- DP Text section ends here -->

    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:c5b5a7f8-6794-4f47-b5f3-45621f842b7c/as/w48-hm-magazine-reebok-1.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->
    <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">The collection includes jackets, matching sets, hoodies, t-shirts and skirts in a colour palette of reds, sky blue, pink, light brown and pine green, the vibe is collegiate with a modern twist.</p>
</div>
   <!-- DP Text section ends here -->
    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:fb409335-31f0-4978-a375-86de637adce6/as/w48-hm-magazine-reebok-2.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
   <a class="hm-magazine-description-dp" href="/en/shop-reebok/">The Reebok x H&M kidswear collection will be available in store and online at hm.com from August 29th.</a>
</div>
   <!-- DP Text section ends here -->
   
   

</div>
<!-- DP Container block ends  -->
  </div>
</body>

</html>
