<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>H&M Magazine Summer</title>
  <link rel="stylesheet" href="/fragments/magazine-pages/magazine-style.css">
</head>

<body>
  <div class="hm-magazine-wrap hm-magazine-wrap-dp">
   
<!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
<img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:6b36c906-dd52-4483-802c-d03cd915a254/as/w48-hm-magazine-main-04.jpg?preferwebp=true&width=2000&format=jpg" alt="hm-magazine">
</div>
<!-- col-1 Image section ends here -->
<!-- Text section starts here -->
<div class="hm-magazine-text-hold">
 <p class="hm-magazine-preample">INSIDE H&M</p>
 <h1 class="hm-magazine-h1">Bring on summer</h1>
 <p class="hm-magazine-description">Say hello to summer with relaxed styles, swimwear, stylish essentials and dress-up moments for kids of all ages.</p>
 <p class="date-p">25 April 2024</p>
</div>
<!-- Text section ends here -->
<!-- image text block ends  -->

<!-- DP Container block starts  -->
<div class="hm-magazine-dp-block-container">
<!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">Whether it’s a relaxed staycation or an escape abroad, H&M has everything you need for kids and babies on summer holidays. The vibe is relaxed, with designs inspired by coastal locations — the beach, the Riviera and the surf — with shorts, shirts and dresses in soft stripes or natural qualities like linen and cotton. There are also sweet details like smocking, crochet and tie-up shoulders. Tees, skirts, denim and light knits are the everyday go-tos.  Find it all in H&M’s online Summer Shop – the one-stop destination you can search by age or size, making shopping a breeze.</p>
</div>
   <!-- DP Text section ends here -->

    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:9f89a669-afe7-43e2-b5f0-06a96ac80dc1/as/hm-magazine-summer-2.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->
    <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">“For summer, we wanted the kidswear to have an easy charm,” says Sofia Löfstedt, Head of Kidswear Design and Creative at H&M. “With soft stripes and natural textures, the fabrics really come through. Summer knits are also key – a combination of comfy and chic.”</p>
</div>
   <!-- DP Text section ends here -->
    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:f53e7080-69a0-429f-b57c-cb3a10e76a1e/as/hm-magazine-summer-3.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
   <p class="hm-magazine-description-dp">So where to start when thinking about summer looks for kids?</p>
   <p class="hm-magazine-description-dp">Swimwear and sun protection should be the first port of call. For those days on the beach or by the pool, choose from one-pieces, bikinis and trunks, or long-sleeve swim tops and UV-protective sets for maximum coverage. Sporty sandals, pool sliders and flip flops keep kids’ feet looking and feeling cool. And for days out in the sun, bucket hats, visors, ball caps and sunglasses offer that extra protection.</p>
</div>
   <!-- DP Text section ends here -->

       <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:1e23add1-e092-4caa-b91d-80559da4f3c5/as/hm-magazine-summer-4.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">Next up are essential jersey pieces like T-shirts, shorts and dresses and soft summer denim. Not only are they soft and durable, but also breathable. The simplicity of the silhouettes and loose fits bring out natural textures and washes, beachy stripes and relaxed surfer looks. They also show off design details like ruffled hems, patch pockets and open collars.</p>
</div>
   <!-- DP Text section ends here -->
   
          <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:485e349c-fe3b-4c28-8ae1-2ac004ca8480/as/hm-magazine-summer-5.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">And don’t forget that summer is the time for family get-togethers and parties when dressing up becomes part of the fun. Let the kids join in with a matching short-sleeve shirt and shorts set or cute sundress for more casual looks. For those special parties, opt for our voluminous dresses and fun bow-tie styles.</p>
</div>
   <!-- DP Text section ends here -->

             <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:06067278-4372-44a0-ab66-bb8b367b848a/as/hm-magazine-summer-6.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">“When summer finally comes, everyone in the family just wants to relax and have a good time. For the summer collection, we thought about those moments and were inspired by beach life. So, there’s a lot of texture and special attention to colour, but everything is easy to wear. Bring on summer!” says Sofia Löfstedt. </p>
</div>
   <!-- DP Text section ends here -->


       <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="https://media.alshaya.com/adobe/assets/urn:aaid:aem:c09dc0d5-ef8e-4726-be3b-233633a018db/as/hm-magazine-summer-7.png?preferwebp=true&width=2000&format=jpg"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">Make H&M your summer kidswear destination for easy summer styles.</p>
    <p class="hm-magazine-description-dp">0-2Y, 2-8Y, 9-14Y.</p>
</div>
   <!-- DP Text section ends here -->
</div>
<!-- DP Container block ends  -->
  </div>
</body>

</html>
