@import '../steps.css';

/* cha specific code goes here */

/* Always keep .cha scope for brand specific override
Example:
.cha h2 {
  color: var(--color-token);
}
*/

.steps-wrapper .count-position .steps-list {
  gap: var(--space-space-20);
  margin-top: var(--space-space-16);
}

.count-position .steps-list li {
  border: 1px solid var(--color-stroke);
  position: relative;
  flex: 1;
  margin: 0;
}

.count-position .steps-wrapper .steps-list .step-item {
  height: 100%;
}

.count-position .steps-list .step-number {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--info-info-20);
  font: var(--type-details-3-font);
  padding: var(--space-space-8);
  margin: 0;
  color: var(--color-text-main);
}

html[dir = 'rtl'] .count-position .steps-list .step-number {
  left: 0;
  right: unset;
  margin: 0;
}

.count-position .steps-list .step-content {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
}

.count-position .steps-list .step-icon {
  width: 100%;
  padding: var(--space-space-8);
  display: flex;
  align-items: center;
}

.count-position .steps-list .step-content .step-text {
  height: unset;
  padding: var(--space-space-12) var(--space-space-12) var(--space-space-16);
}
