@import '../social-share.css';

/* foo specific code goes here */

/* Always keep .foo scope for brand specific override 
Example:
.foo h2 {
  color: var(--color-token);
}
*/

.foo #social-share-dialog.modal dialog {
  top: auto;
  max-width: 100%;
  width: 100%;
}

.foo #social-share-dialog.modal dialog .modal-header {
  height: auto;
  box-shadow: 0 0.1rem 0.6rem 0 rgb(0 0 0 / 8%);
  border: none;
}

.foo #social-share-dialog.modal dialog .modal-header h4 {
  font: var(--type-details-semibold-6-font);
}

.foo #social-share-dialog.modal .modal-content {
  padding: var(--space-space-16) var(--space-space-12) var(--space-space-48);
}

.foo .social-share ul {
  gap: var(--space-space-8);
}

.foo .social-share li,
.social-share button.social-share-overlay-copy-btn {
  padding: var(--space-space-12) var(--space-space-24);
  border: var(--shape-border-width-1) solid var(--color-brand-750);
}

.foo #social-share-dialog button::after {
  content: none;
}

.foo .social-share button.social-share-overlay-copy-btn {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-7);
}

@media (width > 767px ) {
  .foo .social-share {
    padding: var(--space-space-16) var(--space-space-12);
  }

  .foo .social-share ul {
    justify-content: flex-start;
    padding: var(--space-space-16) 0;
  }
}
